
<%= form_with(url: sessions_path) do |form| %>

  <div>
    <%= form.label :"Nombre de usuario" %>
    <%= form.text_field :login, required: true %>
  </div>

  <div>
    <%= form.label :Contraseña %>
    <%= form.password_field :password, required: true %>
  </div>

  <%= form.submit :"Iniciar Sesión"%>
<% end %>