<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-8">
  <%= form_with(model: ladder_detail, builder: CustomFormBuilder, class: "space-y-6 bg-gray-900 p-6 rounded-lg shadow-lg") do |form| %>
    <% if ladder_detail.errors.any? %>
      <div id="error_explanation" class="bg-red-700 text-white px-3 py-2 font-medium rounded-lg">
        <h2><%= "Error: " %> prohibited this ladder_detail from being saved:</h2>
        <ul>
          <% ladder_detail.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>



    <%= form.label :"Detalle", class: "block text-gray-300" %>
    <%= form.text_field :detalle, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Descripción", class: "block text-gray-300" %>
    <%= form.text_field :descripcion, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Rol N°", class: "block text-gray-300" %>
    <%= form.text_field :rol_n, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"N° Permiso", class: "block text-gray-300" %>
    <%= form.number_field :numero_permiso, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Fecha Permiso", class: "block text-gray-300" %>
    <%= form.date_field :fecha_permiso, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Destino", class: "block text-gray-300" %>
    <%= form.text_field :destino, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Recepción", class: "block text-gray-300" %>
    <%= form.text_field :recepcion, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Empresa Instaladora", class: "block text-gray-300" %>
    <%= form.text_field :empresa_instaladora, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"RUT Empresa Instaladora", class: "block text-gray-300" %>
    <%= form.text_field :empresa_instaladora_rut, data: { controller: "rut", rut_target: "rut" }, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Porcentaje de Ocupación", class: "block text-gray-300" %>
    <%= form.number_field :porcentaje, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Marca", class: "block text-gray-300" %>
    <%= form.text_field :marca, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Modelo", class: "block text-gray-300" %>
    <%= form.text_field :modelo, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"M° Serie", class: "block text-gray-300" %>
    <%= form.text_field :nserie, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Marca", class: "block text-gray-300" %>
    <%= form.text_field :mm_marca, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"N° Serie", class: "block text-gray-300" %>
    <%= form.text_field :mm_nserie, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Potencia", class: "block text-gray-300" %>
    <%= form.text_field :potencia, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Capacidad", class: "block text-gray-300" %>
    <%= form.number_field :capacidad, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Personas", class: "block text-gray-300" %>
    <%= form.number_field :personas, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Peldaños", class: "block text-gray-300" %>
    <%= form.number_field :peldaños, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Longitud", class: "block text-gray-300" %>
    <%= form.text_field :longitud, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Inclinación", class: "block text-gray-300" %>
    <%= form.number_field :inclinacion, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Ancho", class: "block text-gray-300" %>
    <%= form.number_field :ancho, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Velocidad", class: "block text-gray-300" %>
    <%= form.text_field :velocidad, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Fabricación", class: "block text-gray-300" %>
    <%= form.number_field :fabricacion, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.label :"Procedencia", class: "block text-gray-300" %>
    <%= form.text_field :procedencia, class: "block shadow appearance-none rounded-md border border-gray-300 bg-gray-700 text-white px-3 py-2 mt-2 w-full" %>

    <%= form.submit "Actualizar información del activo", class: "mt-4 w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  <% end %>
</div>
