<p style="color: green"><%= notice %></p>

<h1>Minors</h1>


<div>
  <%= link_to "New minor", new_minor_path if Current.user.admin %>
</div>

<div>
  <%= link_to "Empresas mandantes", principals_path %>
</div>

<div>
  <%= link_to "Volver a página principal", home_path %>
</div>



<div id="minors">
  <% @minors.each do |minor| %>
    <%= render minor %>
    <p>
      <%= link_to "Show this minor", minor %>
    </p>
  <% end %>
</div>
