

  <h1>Minors</h1>


<div>
  <%= link_to "New minor", new_minor_path if Current.user.admin %>
</div>

<div>
  <%= link_to "Empresas mandantes", principals_path %>
</div>

  <%= render 'shared/back_home' %>


  <%= turbo_frame_tag 'minors' do %>


<%= turbo_frame_tag "minors-#{@pagy.page}", class: 'minors' do %>
  <%= render partial: 'minor', collection: @minors %>

  <%= turbo_frame_tag "minors-#{@pagy.next}", class: 'minors', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next.present? %>
<% end %>
<% end %>

