<p style="color: green"><%= notice %></p>

<%= render @minor %>

<div>
  <%= link_to "Edit this minor", edit_minor_path(@minor) if Current.user.admin %>
</div>

<div>
  <%= link_to 'Eliminar empresa menor', minor_path(@minor), data:
    {turbo_method: :delete,
     turbo_confirm: 'Estás seguro?'} if Current.user.admin? %>
</div>

<div>
  <%= link_to "Back to minors", minors_path %>
</div>
