<div id="<%= dom_id rules_plat %>" class="bg-gray-800 p-4 rounded-lg shadow-md">
  <div class="space-y-4">

    <div>
      <strong class="block text-gray-300 font-semibold mb-1">Code:</strong>
      <p class="text-gray-400 font-medium"><%= rules_plat.code %></p>
    </div>
    <div>
      <strong class="block text-gray-300 font-semibold mb-1">Point:</strong>
      <p class="text-gray-400 font-medium"><%= rules_plat.point %></p>
    </div>





    <div>
      <strong class="block text-gray-300 font-semibold mb-1">Level:</strong>
      <p class="text-gray-400 font-medium"><%= rules_plat.level %></p>
    </div>
  </div>

  <% if action_name != "show" %>
    <div class="flex items-center space-x-2 mt-4">
      <%= link_to "Show this ladder", rules_plat, class: "flex items-center justify-center rounded-lg py-2 px-4 bg-blue-500 text-white font-medium hover:bg-blue-600 transition ease-in-out duration-150" %>
      <%= link_to "Edit this ladder", edit_rules_plat_path(rules_plat), class: "flex items-center justify-center rounded-lg py-2 px-4 bg-gray-500 text-white font-medium hover:bg-gray-600 transition ease-in-out duration-150" %>
    </div>
    <hr class="my-6 border-gray-700">
  <% end %>
</div>
