<%= form_with(model: group, builder: CustomFormBuilder, class: "space-y-4 bg-gray-900 text-white p-4 rounded-md shadow-lg") do |form| %>
  <% if group.errors.any? %>
    <% error_messages = group.errors.full_messages.map { |msg| "<li>#{j msg}</li>" }.join %>
    <%= javascript_tag do %>
      Swal.fire({
      icon: 'error',
      title: '¡Atención!',
      html: '<strong>Error: </strong> No se pudo guardar esta clasificación:<br><ul style="text-align: left;">' + '<%= raw error_messages %>' + '</ul>',
      confirmButtonText: 'Entendido'
      })
    <% end %>
  <% end %>



  <div class="flex flex-col mt-4">
    <%= form.label :name, "Nombre de la clasificación:", class: "text-gray-300" %>
    <%= form.text_field :name, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-600 focus:border-blue-600 sm:text-sm" %>
  </div>

  <div class="flex flex-col mt-4">
    <%= form.label :type_of, "Tipo de checklist a utilizar:", class: "text-gray-300" %>
    <%= form.select :type_of, options_for_select([["Ascensor", "ascensor"], ["Escala", "escala"]]), {}, class: "mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-600 focus:border-blue-600 sm:text-sm" %>
  </div>


  <div class="mt-6 py-5">
    <%= form.submit "Crear clasificación", class: "w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
  </div>
<% end %>
