<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> No se pudo guardar esta clasificación:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :"Nuevo tipo de ascensor:", style: "display: block" %>
    <%= form.number_field :number, readonly: true %>
  </div>

  <div>
    <%= form.label :"Nombre de la clasificación:", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Crear clasificación"%>
  </div>
<% end %>
