<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="Tipos de ascensores:">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Ver detalles", group %>
    </p>
  <% end %>
</div>

<%= link_to "Crear nueva clasificación", new_group_path %>

<%= link_to "Ver reglas", rules_path %>
```
