<p style="color: green"><%= notice %></p>

<h1>Clasificaciones</h1>

<div id="Tipos de ascensores:">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Ver detalles", group %>
    </p>
  <% end %>
</div>

<div>
  <%= link_to "Crear nueva clasificación", new_group_path %>
</div>

<div>
  <%= link_to "Ver reglas", rules_path %>
</div>
