<%= form_with(model: principal) do |form| %>
  <% if principal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(principal.errors.count, "error") %> Empresa no pudo ser guardada:</h2>

      <ul>
        <% principal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <%= render 'shared/company_form', form: form %>

  <div>
    <%= form.submit "#{@principal.new_record? ? 'Agregar' : 'Modificar'} empresa" %>
  </div>
<% end %>
