<%= form_with(model: principal) do |form| %>
  <% if principal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(principal.errors.count, "error") %> Empresa no pudo ser guardada:</h2>

      <ul>
        <% principal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :"Rut de la empresa", style: "display: block" %>
    <%= form.text_field :rut, data: { controller: "rut", rut_target: "rut" } %>
  </div>

  <div>
    <%= form.label :"Nombre de la empresa:", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :"Razón social:", style: "display: block" %>
    <%= form.text_field :business_name %>
  </div>

  <div>
    <%= form.label :"Email de empresa:", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :"Teléfono de empresa:", style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :"Nombre del contacto:", style: "display: block" %>
    <%= form.text_field :contact_name %>
  </div>

  <div>
    <%= form.label :"Email del contacto:", style: "display: block" %>
    <%= form.text_field :contact_email %>
  </div>

  <div>
    <%= form.label :"Teléfono de contacto", style: "display: block" %>
    <%= form.text_field :cellphone %>
  </div>
  <div>
    <%= form.submit "#{@principal.new_record? ? 'Agregar' : 'Modificar'} empresa" %>
  </div>
<% end %>
