<div id="<%= dom_id(principal) %>" class="max-w-md mx-auto bg-gray-900 rounded-xl shadow-lg overflow-hidden md:max-w-2xl">
  <div class="p-8">
    <div class="tracking-wide text-2xl font-bold text-gray-300 mb-8"><%= principal.name %></div>

    <p class="text-gray-400">
      <strong class="text-gray-200">Rut de la empresa:</strong>
      <%= principal.rut %>
    </p>


    <p class="text-gray-400 mt-2">
      <strong class="text-gray-200">Razón social:</strong>
      <%= principal.business_name %>
    </p>

    <p class="text-gray-400 mt-2">
      <strong class="text-gray-200">Email de la empresa:</strong>
      <%= principal.email %>
    </p>

    <p class="text-gray-400 mt-2">
      <strong class="text-gray-200">Teléfono de empresa:</strong>
      <%= principal.phone %>
    </p>


    <p class="text-gray-400 mt-2">
      <strong class="text-gray-200">Dirección:</strong>
      <%= principal.place %>
    </p>

    <p class="text-gray-400 mt-2">
      <strong class="text-gray-200">Nombre del contacto:</strong>
      <%= principal.contact_name %>
    </p>

    <p class="text-gray-400 mt-2">
      <strong class="text-gray-200">Email de contacto:</strong>
      <%= principal.contact_email %>
    </p>

    <p class="text-gray-400 mt-2">
      <strong class="text-gray-200">Teléfono de contacto:</strong>
      <%= principal.cellphone %>
    </p>

    <div class="mt-4">
      <% if controller_name == 'principals' && action_name == 'index' %>
        <%= link_to 'Ver empresa', principal_path(principal), class: "inline-block px-6 py-2 border border-blue-800 text-blue-400 font-medium text-xs leading-tight uppercase rounded hover:bg-blue-800 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out", 'data-turbo-frame': "_top" %>
      <% end %>
    </div>


  </div>


</div>
