<div id="<%= dom_id principal %>">
  <p>
    <strong>Rut:</strong>
    <%= principal.rut %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= principal.name %>
  </p>

  <p>
    <strong>Business name:</strong>
    <%= principal.business_name %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= principal.contact_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= principal.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= principal.phone %>
  </p>

  <p>
    <strong>Cellphone:</strong>
    <%= principal.cellphone %>
  </p>

</div>
