<div class="p-6">

  <div class="mb-6">
    <label for="year-select" class="text-white">Selecciona un año:</label>
    <%= form_with url: principal_path(@principal), method: :get, local: true do |form| %>
      <%= form.select :year, options_for_select(@available_years, @selected_year), { include_blank: false }, class: "form-select bg-gray-700 text-white" %>
      <%= form.hidden_field :tab, value: 'statistics' %>
      <%= form.submit 'Seleccionar', class: "ml-4 px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600 transition duration-300" %>
    <% end %>
  </div>

  <% case chart_type %>
  <% when 'bar' %>
    <div class="mb-8">
      <h2 class="text-xl text-white mb-2">Inspecciones por Mes (Año <%= @selected_year %>)</h2>
      <%= bar_chart @inspections_by_month, colors: @colors.cycle.take(@inspections_by_month.size), label: "Cantidad de Inspecciones" %>
    </div>
    <div class="mb-8">
      <h2 class="text-xl text-white mb-2">Inspecciones por Año</h2>
      <%= bar_chart @inspections_by_year, colors: @colors.cycle.take(@inspections_by_year.size), label: "Cantidad de Inspecciones" %>
    </div>
    <div class="mb-8">
      <h2 class="text-xl text-white mb-2">Resultados de Inspecciones</h2>
      <%= bar_chart @inspection_results, colors: @colors.cycle.take(@inspection_results.size), label: "Cantidad de Resultados" %>
    </div>
    <div class="mb-8">
      <h2 class="text-xl text-white mb-2">Inspecciones por Estado</h2>
      <%= bar_chart @inspection_states, colors: @colors.cycle.take(@inspection_states.size), label: "Cantidad de Estados" %>
    </div>
  <% when 'pie' %>
    <div class="mb-8">
      <h2 class="text-xl text-white mb-2">Inspecciones por Mes (Año <%= @selected_year %>)</h2>
      <%= pie_chart @inspections_by_month, colors: @colors.cycle.take(@inspections_by_month.size) %>
    </div>
    <div class="mb-8">
      <h2 class="text-xl text-white mb-2">Inspecciones por Año</h2>
      <%= pie_chart @inspections_by_year, colors: @colors.cycle.take(@inspections_by_year.size) %>
    </div>
    <div class="mb-8">
      <h2 class="text-xl text-white mb-2">Resultados de Inspecciones</h2>
      <%= pie_chart @inspection_results, colors: @colors.cycle.take(@inspection_results.size) %>
    </div>
    <div class="mb-8">
      <h2 class="text-xl text-white mb-2">Inspecciones por Estado</h2>
      <%= pie_chart @inspection_states, colors: @colors.cycle.take(@inspection_states.size) %>
    </div>

  <% end %>
</div>
