
  <h1>Empresas mandantes</h1>


  <div>
    <%= link_to "Agregar nueva empresa mandante", new_principal_path if Current.user.admin %>
  </div>



  <%= render 'shared/back_home' %>

  <%= turbo_frame_tag 'principals' do %>


  <%= turbo_frame_tag "principals-#{@pagy.page}", class: 'principals' do %>
    <%= render partial: 'principal', collection: @principals %>
    <%= turbo_frame_tag "principals-#{@pagy.next}", class: 'principals', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next.present? %>
  <% end %>

<% end %>



