<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-8">
  <h1 class="text-4xl font-bold text-gray-800 mb-6">Empresas</h1>

  <div class="mb-6">
    <%= link_to "Agregar Empresa", new_principal_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-blue-700 bg-gray-800 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-150 ease-in-out" if Current.user.admin%>
  </div>

  <div class="bg-gray-800 shadow overflow-hidden sm:rounded-md">
    <%= render 'shared/back_home' %>
    <div class="p-6">
      <%= render 'shared/search_form', form_url: principals_path, search_keys: 'name_or_rut_or_business_name_cont', frame_id: 'principal_frame', placeholder_text: 'nombre, RUT o razón social' %>
    </div>
    <%= turbo_frame_tag 'principals' do %>


      <%= turbo_frame_tag "principals-#{@pagy.page}", class: 'principals' do %>
        <ul class="divide-y divide-gray-700">
          <% @principals.each_with_index do |principal, index| %>
            <li class="<%= 'bg-gray-700' if index.even? %> p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-150 ease-in-out">
              <%= render 'principal', principal: principal %>
            </li>
          <% end %>
        </ul>
        <% if @pagy.next %>
          <%= turbo_frame_tag "principals-#{@pagy.next}", class: 'principals', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
