<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-8 bg-gray-900 p-6 rounded-lg shadow-md">
    <%= render @principal %>

  <div class="mt-6 w-full">
    <% if Current.user.admin? %>
      <%= link_to 'Modificar empresa', edit_principal_path(@principal), class: "px-4 py-2 rounded bg-yellow-600 text-gray-900 font-bold hover:bg-yellow-700 transition duration-300" %>
    <% end %>
  </div>

  <div class="mt-6 w-full">
    <% if Current.user.admin? %>
      <%= link_to 'Eliminar empresa', principal_path(@principal), class: "px-4 py-2 rounded bg-red-600 text-gray-900 font-bold hover:bg-red-700 transition duration-300", data: { controller: "delete-confirmation", action: "click->delete-confirmation#deleteItem", delete_confirmation_redirect_url_value: "/principals" } %>
    <% end %>
  </div>

  <div class="mt-6 w-full">
    <%= link_to 'Volver a empresas', principals_path, class: "px-4 py-2 rounded bg-gray-700 text-white font-bold hover:bg-gray-600 transition duration-300" %>
  </div>

</div>


<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-8">


    <div class="bg-gray-800 shadow overflow-hidden sm:rounded-md">
      <h1 class="text-4xl font-bold text-white mb-8 text-center py-4">Activos pertenecientes a <%= @principal.name %></h1>

      <%= turbo_frame_tag 'items' do %>
        <div class="p-6">
          <%= render 'shared/search_form', form_url: principal_path(@principal), search_keys: 'identificador_cont', frame_id: 'items', placeholder_text: 'identificador del activo' %>
        </div>

        <%= turbo_frame_tag "items-#{@pagy.page}", class: 'items' do %>
          <ul class="divide-y divide-gray-700">
            <% @items.each_with_index do |item, index| %>
              <li class="<%= 'bg-gray-700' if index.even? %> p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-150 ease-in-out">
                <%= render 'items/item', item: item %>
              </li>
            <% end %>
          </ul>
          <% if @pagy.next %>
            <%= turbo_frame_tag "items-#{@pagy.next}", class: 'items', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

