<%= render 'shared/back_home' %>



<h1><%= @user.username %></h1>
<h2><%= @user.real_name %></h2>
<h2><%= @user.email %></h2>
<%= link_to "Modificar datos", edit_user_path(@user) if Current.user.id == @user.id %>

<br>
<%= turbo_frame_tag 'inspections' do %>

  <%= render 'shared/search_form', form_url: inspections_path %>


  <%= turbo_frame_tag "inspections-#{@pagy.page}", class: 'inspections' do %>
    <%= render partial: 'inspections/inspection', collection: @inspections %>
    <%= turbo_frame_tag "inspections-#{@pagy.next}", class: 'inspections', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next.present? %>
  <% end %>
<% end %>


