<%= form_with(model: @revision, url: {action: "update", inspection_id: @inspection.id}) do |form| %>
  <% if @revision.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@revision.errors.count, "error") %> No se pudo guardar la revisión:</h2>

      <ul>
        <% @revision.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @revision.group.rules.each_with_index do |rule, index| %>
    <div>
      <%= rule.code %>
      <%= rule.point %>




      <% if rule.point == "Otros defectos." %>



        <% flaw_with_same_code = @revision.flaws.find_by { |flaw| rule.code == flaw } %>
        <% code_with_same_code = @revision.codes.find { |code| rule.code == code } %>
        <%= text_area_tag 'revision[flaws][]', flaw_with_same_code || '', size: "40x6" %>
      <% else %>
        <%= check_box_tag 'revision[flaws][]', rule.point, @revision.flaws.include?(rule.point) %>




      <% end %>







      <% if rule.level.include?('G') && rule.level.include?('L') %>
        <%= check_box_tag 'revision[level][]', 'G', false, disabled: false %>
      <% elsif rule.level.include?('G') %>
        <%= check_box_tag 'revision[level][]', 'G', true, disabled: true %>
      <% elsif rule.level.include?('L') %>
        <%= check_box_tag 'revision[level][]', 'L', false, disabled: true %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>