<%= form_with(model: @revision, url: {action: "update", inspection_id: @inspection.id, section: params[:section]}, local: true, multipart: true, html: { autocomplete: "off" }) do |form| %>
  <% if @revision.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@revision.errors.count, "error") %> No se pudo guardar la revisión:</h2>

        <ul>
          <% @revision.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div data-controller="section-submit">
    <% (0..11).each do |number| %>
      <%= button_tag type: 'button', data: { action: "section-submit#submitAndNavigate", section_submit_target: "button", url: edit_revision_path(id: @revision, inspection_id: @inspection.id, section: number) } do %>
        <%= number %>
      <% end %>
    <% end %>
  </div>




  <% @rules.each_with_index.chunk_while { |(current_rule, _), (next_rule, _)| current_rule.ruletype.rtype == next_rule.ruletype.rtype }.each_with_index do |group, group_index| %>
    <% group.each_with_index do |(rule, index), local_index| %>
      <% if local_index == 0 %>
        <h2><%= "#{rule.ruletype.gygatype_number} #{rule.ruletype.rtype}" %></h2>
      <% end %>

      <div data-controller="rules-form">
        <% is_checked = @revision.codes.include?(rule.code) && @revision.points.include?(rule.point) %>
        <%= check_box_tag "revision[fail][]", "1", is_checked, id: "fail_#{index}", data: { action: "change->rules-form#toggle", rules_form_target: "fail" } %>
        <%= label_tag "fail_#{index}", revision_label_text(rule, @last_revision) %>

        <%= hidden_field_tag "revision[codes][]", rule.code, data: { rules_form_target: "code" } %>
        <%= hidden_field_tag "revision[points][]", rule.point, data: { rules_form_target: "point" } %>

        <% if rule.level.include?('G') && rule.level.include?('L') %>
          <div data-controller="level" class="inline-element" data-action="click->level#toggleValue">
            <%= button_tag type: 'button', class: 'toggle-button' do %>
              <span data-level-target="label">G</span>
            <% end %>
            <%= hidden_field_tag "revision[levels][]", "G", data: { level_target: "field", rules_form_target: "level" } %>
          </div>
        <% else %>
          <%= hidden_field_tag "revision[levels][]", revision_level_or_g(rule, @last_revision), data: { rules_form_target: "level" } %>
        <% end %>


        <%= file_field_tag "revision_photos[photo][]", name: "revision_photos[photo][]", id: "photo_#{index}", disabled: !is_checked, data: { rules_form_target: "photo" } %>
        <% comment_index = @revision.codes.index(rule.code) %>
        <%= text_area_tag "revision[comment][]", comment_index.nil? ? nil : @revision.comment[comment_index], data: { rules_form_target: "comment" } %>
        <%= hidden_field_tag "revision_photos[code][]", rule.code, data: { rules_form_target: "photoCode" } %>
      </div>
    <% end %>
  <% end %>


  <div>
      <%= form.submit "Ver fallas registradas" %>
    </div>
  <% end %>

  <div>
    <%= link_to "Volver atrás", inspection_path(@inspection) %>
  </div>
