<h1>Inspección N° <%= @inspection.number %></h1>
<h2>Defectos Encontrados</h2>

<div data-controller="image">
  <% @revision.points.each_with_index.chunk_while { |(_, i), (_, j)| @revision.codes[i] == @revision.codes[j] }.each do |group| %>
    <% group.each do |(point, index)| %>
      <p>
        <strong>Defecto:</strong>
        <%= @revision.codes[index] %>
        <%= point %>
        <%= @revision.levels[index] %>
        <%= ".        Razón: #{@revision.comment[index]}" %>
      </p>
    <% end %>

    <% last_index = group.last[1] %>
    <% next_code_different = (@revision.codes[last_index] != @revision.codes[last_index + 1]) rescue true %>
    <% if next_code_different %>
      <% photos = @photos_by_code[@revision.codes[last_index]] || [] %>
      <% photos.each do |photo| %>
        <a href="#" data-action="image#show" data-image-url="<%= url_for(photo.photo) %>">
          <%= image_tag photo.photo, width: 200 %>
        </a>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to 'Volver atrás', inspection_path(@inspection) if Current.user.admin %>
</div>

<div>
  <% if @inspection.result == 'En revisión'%>
    <%= link_to 'Volver a la inspección', edit_revision_path(inspection_id: @inspection.id, section: 0 ) if @inspection.owner? %>
    <br>
    <br>
    <div>
      <%= button_to 'Terminar inspección', close_inspection_inspection_path(id: @inspection.id, revision_id: @revision.id), method: :patch, data: { turbo_confirm: '¿Estás seguro de que quieres terminar la inspección?', turbo_frame: "_top" } if @inspection.owner? && @inspection.number>0%>
    </div>

  <% else %>
    <%= link_to 'Volver atrás', inspection_path(@inspection) if @inspection.owner? && @inspection.number > 0 %>
  <% end %>

  <div>
    <%= link_to 'Volver a la preinspección', edit_revision_path(inspection_id: @inspection.id, section: 0 ) if @inspection.owner? && @inspection.number < 0 %>
  </div>

  <div>
    <%= button_to 'Terminar Preinspección', close_inspection_black_inspection_path(id: @inspection.id, revision_id: @revision.id), method: :patch, data: { turbo_confirm: '¿Estás seguro de que quieres terminar la preinspección?', turbo_frame: "_top" } if @inspection.owner? && @inspection.number<0%>
  </div>
</div>



