<h1>Revisión N° <%= @revision.inspection_id %></h1>
<h2>Defectos Encontrados</h2>



<% @revision.points.each_with_index do |point, index| %>
  <p>
    <strong>Defecto:</strong>
    <%= @revision.codes[index] %>
    <%= point %>
    <%= @revision.levels[index] %>
  </p>

  <% photo = @revision_photos.find { |rp| rp.code == @revision.codes[index] } %>
  <% if photo&.photo&.attached? %>
    <%= image_tag photo.photo %>
  <% end %>
<% end %>