<h1>Inspección N° <%= @revision.inspection_id %></h1>
<h2>Defectos Encontrados</h2>

<div data-controller="image">
  <% @revision.points.each_with_index.chunk_while { |(_, i), (_, j)| @revision.codes[i] == @revision.codes[j] }.each do |group| %>
    <% group.each do |(point, index)| %>
      <p>
        <strong>Defecto:</strong>
        <%= @revision.codes[index] %>
        <%= point %>
        <%= @revision.levels[index] %>
        <%= @revision.comment[index] %>
      </p>
    <% end %>

    <% last_index = group.last[1] %>
    <% next_code_different = (@revision.codes[last_index] != @revision.codes[last_index + 1]) rescue true %>
    <% if next_code_different %>
      <% photos = @photos_by_code[@revision.codes[last_index]] || [] %>
      <% photos.each do |photo| %>
        <a href="#" data-action="image#show" data-image-url="<%= url_for(photo.photo) %>">
          <%= image_tag photo.photo, width: 200 %>
        </a>
      <% end %>
    <% end %>
  <% end %>
</div>
