<div>
  <%= form.label :"Rut de la empresa", style: "display: block" %>
  <%= form.text_field :rut %>
</div>

<div>
  <%= form.label :"Nombre de la empresa:", style: "display: block" %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :"Razón social:", style: "display: block" %>
  <%= form.text_field :business_name %>
</div>

<div>
  <%= form.label :"Nombre del contacto:", style: "display: block" %>
  <%= form.text_field :contact_name %>
</div>

<div>
  <%= form.label :"Email de contacto:", style: "display: block" %>
  <%= form.text_field :email %>
</div>

<div>
  <%= form.label :"Teléfono de contacto:", style: "display: block" %>
  <%= form.text_field :phone %>
</div>

<div>
  <%= form.label :"Celular de contacto", style: "display: block" %>
  <%= form.text_field :cellphone %>
</div>