<p>
  <strong>Rut de la empresa:</strong>
  <%= object.rut %>
</p>

<p>
  <strong>Nombre de la empresa:</strong>
  <%= object.name %>
</p>

<p>
  <strong>Razón social:</strong>
  <%= object.business_name %>
</p>

<p>
  <strong>Email de la empresa:</strong>
  <%= object.email %>
</p>

<p>
  <strong>Nombre del contacto:</strong>
  <%= object.contact_name %>
</p>

<p>
  <strong>Email de contacto:</strong>
  <%= object.contact_email %>
</p>

<p>
  <strong>Teléfono de contacto:</strong>
  <%= object.phone %>
</p>

<p>
  <strong>Celular de contacto:</strong>
  <%= object.cellphone %>
</p>