<section>
  <div class="py-16 bg-gray-50 dark:bg-gray-800">
    <div class="mx-auto px-6 max-w-6xl text-gray-600 dark:text-gray-200">
      <div class="text-center">
        <h1 class="text-4xl text-gray-800 dark:text-white font-bold mb-8">Inicio</h1>
      </div>
      <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% if Current.user %>
          <div class="group overflow-hidden p-8 rounded-xl bg-white shadow-lg border border-gray-200 hover:shadow-xl transition-shadow duration-300 ease-in-out dark:border-gray-700 dark:bg-gray-900">
            <div class="text-center">
              <h3 class="text-lg font-semibold">Inspecciones</h3>
              <p class="text-sm text-gray-500 dark:text-gray-300 mt-2">Accede a las inspecciones disponibles.</p>
              <div class="mt-4">
                <%= link_to 'Inspecciones', inspections_path, class: "inline-block px-6 py-2 border border-blue-500 text-blue-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
              </div>
            </div>
          </div>
        <% end %>

        <% if Current.user.admin %>
          <div class="group overflow-hidden p-8 rounded-xl bg-white shadow-lg border border-gray-200 hover:shadow-xl transition-shadow duration-300 ease-in-out dark:border-gray-700 dark:bg-gray-900">
            <div class="text-center">
              <h3 class="text-lg font-semibold">Programar Nueva Inspecci贸n</h3>
              <p class="text-sm text-gray-500 dark:text-gray-300 mt-2">Crea una nueva inspecci贸n.</p>
              <div class="mt-4">
                <%= link_to 'Programar nueva inspecci贸n', new_inspection_path, class: "inline-block px-6 py-2 border border-green-500 text-green-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
              </div>
            </div>
          </div>
        <% end %>

        <% if Current.user.admin %>
          <div class="group overflow-hidden p-8 rounded-xl bg-white shadow-lg border border-gray-200 hover:shadow-xl transition-shadow duration-300 ease-in-out dark:border-gray-700 dark:bg-gray-900">
            <div class="text-center">
              <h3 class="text-lg font-semibold">Certificaciones Vencidas y por Vencer</h3>
              <p class="text-sm text-gray-500 dark:text-gray-300 mt-2">Revisa los activos que necesitan renovar su certificaci贸n.</p>
              <div class="mt-4">
                <%= link_to 'Certificaciones por vencer', warnings_path, class: "inline-block px-6 py-2 border border-red-500 text-red-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
              </div>
            </div>
          </div>
        <% end %>

        <% if Current.user.admin %>
          <div class="group overflow-hidden p-8 rounded-xl bg-white shadow-lg border border-gray-200 hover:shadow-xl transition-shadow duration-300 ease-in-out dark:border-gray-700 dark:bg-gray-900">
            <div class="text-center">
              <h3 class="text-lg font-semibold">Clasificaciones</h3>
              <p class="text-sm text-gray-500 dark:text-gray-300 mt-2">Administra los diferentes tipos de activos.</p>
              <div class="mt-4">
                <%= link_to "Clasificaciones  ", groups_path, class: "inline-block px-6 py-2 border border-purple-500 text-purple-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="group overflow-hidden p-8 rounded-xl bg-white shadow-lg border border-gray-200 hover:shadow-xl transition-shadow duration-300 ease-in-out dark:border-gray-700 dark:bg-gray-900">
          <div class="text-center">
            <h3 class="text-lg font-semibold">Empresas</h3>
            <p class="text-sm text-gray-500 dark:text-gray-300 mt-2">Consulta las empresas registradas.</p>
            <div class="mt-4">
              <%= link_to "Empresas", principals_path, class: "inline-block px-6 py-2 border border-yellow-500 text-yellow-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
            </div>
          </div>
        </div>

        <% if Current.user %>
          <div class="group overflow-hidden p-8 rounded-xl bg-white shadow-lg border border-gray-200 hover:shadow-xl transition-shadow duration-300 ease-in-out dark:border-gray-700 dark:bg-gray-900">
            <div class="text-center">
              <h3 class="text-lg font-semibold">Activos</h3>
              <p class="text-sm text-gray-500 dark:text-gray-300 mt-2">Gestiona los activos disponibles.</p>
              <div class="mt-4">
                <%= link_to "Activos", items_path, class: "inline-block px-6 py-2 border border-blue-500 text-blue-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
