<%= form_with(model: ladder, builder: CustomFormBuilder, local: true, class: "contents") do |form| %>
  <% if ladder.errors.any? %>
    <% error_messages = ladder.errors.full_messages.map { |msg| "<li>#{j msg}</li>" }.join %>
    <%= javascript_tag do %>
      Swal.fire({
      icon: 'error',
      title: 'Error: No se pudo guardar el defecto',
      html: '<ul style="text-align: left;">' + '<%= raw error_messages %>' + '</ul>',
      confirmButtonText: 'Entendido'
      })
    <% end %>
  <% end %>


  <div class="mb-4">
    <%= form.label :number, "Número", class: "block text-gray-300 font-bold mb-2" %>
    <%= form.text_field :number, maxlength: 100, class: "shadow appearance-none border rounded w-full py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :point, "Defecto", class: "block text-gray-300 font-bold mb-2" %>
    <%= form.text_area :point, rows: 3, maxlength: 1000, class: "shadow appearance-none border rounded w-full py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :code, "Código", class: "block text-gray-300 font-bold mb-2" %>
    <%= form.text_field :code, maxlength: 100, class: "shadow appearance-none border rounded w-full py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :priority, "Prioridad", class: "block text-gray-300 font-bold mb-2" %>
    <%= form.text_field :priority, maxlength: 100, class: "shadow appearance-none border rounded w-full py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>


  <div class="flex items-center justify-between">
    <%= form.submit class: "bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
