<div id="<%= dom_id ladder %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= ladder.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Point:</strong>
    <%= ladder.point %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= ladder.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= ladder.priority %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level:</strong>
    <%= ladder.level %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this ladder", ladder, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this ladder", edit_ladder_path(ladder), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
