<p style="color: green"><%= notice %></p>

<h1>Comprobaciones</h1>

<br>
<h1>ADVERTENCIA: CUIDADO CON HACER CAMBIOS EN ESTA PARTE, EL ARREGLARLO SERÍA EXTREMADAMENTE TEDIOSO</h1>


<div>
  <%= link_to "Crear nuevo tipo de regla", new_ruletype_path %>
</div>


<div>
  <%= link_to "Volver a defectos", rules_path %>
</div>


<div id="ruletypes">
  <% @ruletypes.each do |ruletype| %>
    <%= render ruletype %>
    <%= link_to "Ver detalles", ruletype %>

<% end %>
</div>


