
  <h1>Comprobaciones</h1>

<br>
<h1>ADVERTENCIA: CUIDADO CON HACER CAMBIOS EN ESTA PARTE, EL ARREGLARLO SERÍA EXTREMADAMENTE TEDIOSO</h1>


<div>
  <%= link_to "Crear nuevo tipo de regla", new_ruletype_path %>
</div>


<div>
  <%= link_to "Volver a defectos", rules_path %>
</div>


  <%= turbo_frame_tag 'ruletypes' do %>


<%= turbo_frame_tag "ruletypes-#{@pagy.page}", class: 'ruletypes' do %>
  <%= render partial: 'ruletype', collection: @ruletypes %>

  <%= turbo_frame_tag "ruletypes-#{@pagy.next}", class: 'ruletypes', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next.present? %>
<% end %>
<% end %>



