<p style="color: green"><%= notice %></p>

<%= render @ruletype %>
<div>
  Conjunto al que pertenece:
  <%= @ruletype.gygatype %>
</div>

<div>

  <%= link_to 'Eliminar Comprobación', ruletype_path(@ruletype), data:
    {turbo_method: :delete,
     turbo_confirm: 'Estás seguro?'} if Current.user&.admin %>


  <%= link_to "Volver atrás", ruletypes_path %>


</div>
