<%= form_with(model: item, class: "max-w-xl mx-auto p-6 bg-gray-900 rounded-lg shadow-md") do |form| %>
  <% if item.errors.any? %>
    <div class="bg-red-700 text-red-200 border border-red-600 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold"><%= pluralize(item.errors.count, "error") %></strong>
      <span class="block sm:inline"> No se pudo guardar el activo:</span>
      <ul class="list-disc pl-5 mt-3">
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4">
    <%= form.label :identificador, class: "block font-medium text-gray-300" %>
    <%= form.text_field :identificador, class: "form-input mt-1 block w-full rounded-md bg-gray-700 border-gray-600 text-white shadow-sm" %>
  </div>

  <% if Current.user&.admin && item.new_record?%>
    <div class="mt-4">
      <%= form.label :group_id, "Clasificación del ascensor", class: "block font-medium text-gray-300" %>
      <%= form.select :group_id, options_for_select(Group.all.map { |g| [g.number, g.id] }, item.group_id), {}, {class: "form-select mt-1 block w-full rounded-md bg-gray-700 border-gray-600 text-white shadow-sm"} %>
    </div>
  <% end %>



  <div class="mt-4">
    <%= form.label :principal_id, "Empresa mandante", class: "block font-medium text-gray-300" %>
    <%= form.collection_select :principal_id, Principal.all, :id, :name, {prompt: 'Selecciona una mandante'}, {class: "form-select mt-1 block w-full rounded-md bg-gray-700 border-gray-600 text-white shadow-sm"} %>
  </div>

  <div class="mt-6">
    <%= form.submit "Guardar activo", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600" %>
  </div>
<% end %>
