<div id="<%= dom_id item %>">
  <div>
    <h2><%= item.identificador %></h2>
  </div>

  <div>
    <p>Clasificación: Grupo N°<%= item.group.number %></p>
  </div>

  <div>
    <p>Mandante: <%= item.principal&.name %></p>
  </div>

  <div>
    <p>Empresa: <%= item.minor&.name %></p>
  </div>

  <div>
    <% inspection = last_inspection(item) %>
    <% if inspection %>
      <p>Última inspección: <%= format_date(inspection.ins_date) %></p>
      <p>Estado: <%= inspection.result %></p>
      <% else %>
      <p>Aun no hay inspecciones.</p>
    <% end %>
  </div>


</div>
