<%= turbo_frame_tag 'items' do %>

  <h1 class="text-xl text-white font-bold mb-4">Activos</h1>

  <%= render 'shared/search_form', form_url: items_path %>

  <%= turbo_frame_tag "items-#{ @pagy.page }", class: 'items bg-gray-800' do %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <%= render partial: 'item', collection: @items %>
    </div>

    <% if @pagy.next.present? %>
      <%= turbo_frame_tag "items-#{ @pagy.next }", class: 'items', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy %>
    <% end %>
  <% end %>

<% end %>
