

  <div class="bg-gray-900 shadow overflow-hidden sm:rounded-md max-w-7xl mx-auto px-4">

    <h1 class="text-4xl text-white font-bold mb-6 mt-4 ml-4">Activos</h1>

    <%= render 'shared/back_home' %>

    <% if @duplicate_items.any? %>
      <div class="bg-red-800 text-white p-4 rounded-md">
        <p>Hay identificadores duplicados:</p>
        <ul>
          <% @duplicate_items.each do |identificador, items| %>
            <li>
              <strong><%= identificador %>:</strong>
              <% items.each do |item| %>
                | <%= link_to "Ver activo ##{item.id}", item_path(item), class: "text-blue-500 underline mx-2" %>
              <% end %> |
            </li>

          <% end %>
        </ul>
      </div>
    <% end %>



    <div class="bg-gray-800 shadow overflow-hidden sm:rounded-md">
      <%= turbo_frame_tag 'items' do %>
        <div class="p-6">
          <%= render 'shared/search_form', form_url: items_path, search_keys: 'identificador_or_principal_rut_or_principal_name_or_principal_business_name_cont', frame_id: 'items', placeholder_text: 'identificador del activo, nombre, RUT o razón social de la empresa' %>

          <%= turbo_frame_tag "items-#{@pagy.page}", class: 'items' do %>
            <ul class="divide-y divide-gray-700">
              <% @items.each_with_index do |item, index| %>
                <li class="<%= 'bg-gray-700' if index.even? %> p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-150 ease-in-out">
                  <%= render 'item', item: item %>
                </li>
              <% end %>
            </ul>
            <% if @pagy.next %>
              <%= turbo_frame_tag "items-#{@pagy.next}", class: 'items', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
