<%= turbo_frame_tag 'items' do %>

  <h1>Activos</h1>


  <%= render 'shared/search_form', form_url: items_path %>


<%= turbo_frame_tag "items-#{@pagy.page}", class: 'items' do %>
  <%= render partial: 'item', collection: @items %>
  <%= turbo_frame_tag "items-#{@pagy.next}", class: 'items', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next.present? %>
<% end %>
<% end %>


