<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-8">
  <h1 class="text-4xl font-bold text-gray-800 mb-6">Activos</h1>

  <div class="mb-6">
    <%= link_to "Nuevo activo", new_item_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-blue-600 bg-gray-800 hover:bg-blue-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-150 ease-in-out" if Current.user.admin %>
  </div>

  <div class="bg-gray-800 shadow overflow-hidden sm:rounded-md">
    <%= render 'shared/back_home' %>

    <% if @duplicate_items.any? %>
      <div class="bg-red-800 text-white p-4 rounded-md">
        <p>Hay identificadores duplicados:</p>
        <ul>
          <% @duplicate_items.each do |identificador, items| %>
            <li>
              <strong><%= identificador %>:</strong>
              <% items.each do |item| %>
                | <%= link_to "Ver activo ##{item.id}", item_path(item), class: "text-blue-500 underline mx-2" %>
              <% end %> |
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= turbo_frame_tag 'items' do %>
      <div class="p-6">
        <%= render 'shared/search_form', form_url: items_path, search_keys: 'identificador_or_principal_rut_or_principal_name_or_principal_business_name_cont', frame_id: 'items', placeholder_text: 'identificador del activo, nombre, RUT o razón social de la empresa' %>
      </div>

      <% if Current.user.tabla %>
        <table id="default-table" class="min-w-full bg-white">
          <thead>
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Identificador</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Empresa</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Creado en</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <% @items.each do |item| %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap"><%= item.identificador %></td>
              <td class="px-6 py-4 whitespace-nowrap"><%= item.principal&.name %></td>
              <td class="px-6 py-4 whitespace-nowrap"><%= format_date(item.created_at) %></td>
              <td class="px-6 py-4 whitespace-nowrap">
                <%= link_to 'Ver activo', item_path(item), class: "text-blue-600 hover:text-blue-900", data: { turbo_frame: "_top" } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <!-- Paginación avanzada -->
        <div class="mt-4">
          <% if @pagy.pages > 1 %>
            <nav class="pagy-nav flex justify-center">
              <!-- Botón Anterior -->
              <%= link_to 'Anterior', pagy_url_for(@pagy, @pagy.prev), class: "inline-block px-4 py-2 mx-1 bg-gray-800 text-white rounded #{'disabled' unless @pagy.prev}", data: { turbo_frame: 'items' }, disabled: !@pagy.prev %>

              <!-- Páginas con elipsis -->
              <% pagy_series(@pagy).each do |page| %>
                <% if page.is_a?(Integer) %>
                  <%= link_to page, pagy_url_for(@pagy, page), class: "inline-block px-4 py-2 mx-1 #{'bg-blue-600 text-white' if page == @pagy.page} rounded", data: { turbo_frame: 'items' } %>
                <% else %>
                  <span class="inline-block px-4 py-2 mx-1 text-gray-500">...</span>
                <% end %>
              <% end %>

              <!-- Botón Siguiente -->
              <%= link_to 'Siguiente', pagy_url_for(@pagy, @pagy.next), class: "inline-block px-4 py-2 mx-1 bg-gray-800 text-white rounded #{'disabled' unless @pagy.next}", data: { turbo_frame: 'items' }, disabled: !@pagy.next %>
            </nav>
          <% end %>
        </div>

        <!-- Barra para ir a una página específica -->
        <div class="mt-4 flex justify-center">
          <label for="go-to-page" class="mr-2">Ir a la página:</label>
          <input type="number" id="go-to-page" min="1" max="<%= @pagy.pages %>" class="border rounded px-2 py-1" placeholder="Página">
          <button id="go-button" class="ml-2 px-4 py-2 bg-blue-600 text-white rounded">Ir</button>
        </div>

        <script>
            document.getElementById('go-button').addEventListener('click', function() {
                var page = document.getElementById('go-to-page').value;
                var maxPage = <%= @pagy.pages %>;
                if (page >= 1 && page <= maxPage) {
                    var url = "<%= items_path %>?page=" + page;
                    Turbo.visit(url, { frame: 'items' });
                }
            });
        </script>
      <% else %>
        <%= turbo_frame_tag "items-#{@pagy.page}", class: 'items' do %>
          <ul class="divide-y divide-gray-700">
            <% @items.each_with_index do |item, index| %>
              <li class="<%= 'bg-gray-700' if index.even? %> p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-150 ease-in-out">
                <%= render 'item', item: item %>
              </li>
            <% end %>
          </ul>
          <% if @pagy.next %>
            <%= turbo_frame_tag "items-#{@pagy.next}", class: 'items', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>


  </div>
</div>
