<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-8">
  <h1 class="text-4xl font-bold text-gray-800 mb-6">Activos</h1>

  <div class="mb-6">
    <%= link_to "Nuevo activo", new_item_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-blue-600 bg-gray-800 hover:bg-blue-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-150 ease-in-out" if Current.user.admin %>
  </div>

  <div class="bg-gray-800 shadow overflow-hidden sm:rounded-md">
    <%= render 'shared/back_home' %>

    <% if @duplicate_items.any? %>
      <div class="bg-red-800 text-white p-4 rounded-md">
        <p>Hay identificadores duplicados:</p>
        <ul>
          <% @duplicate_items.each do |identificador, items| %>
            <li>
              <strong><%= identificador %>:</strong>
              <% items.each do |item| %>
                | <%= link_to "Ver activo ##{item.id}", item_path(item), class: "text-blue-500 underline mx-2" %>
              <% end %> |
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= turbo_frame_tag 'items' do %>
      <div class="p-6">
        <%= render 'shared/search_form', form_url: items_path, search_keys: 'identificador_or_principal_rut_or_principal_name_or_principal_business_name_cont', frame_id: 'items', placeholder_text: 'identificador del activo, nombre, RUT o razón social de la empresa' %>
      </div>

      <% if Current.user.tabla %>
        <div class="mt-2">
          <% if @pagy.pages > 1 %>
            <nav class="pagy-nav flex justify-center bg-gray-900 py-4 rounded-lg">
              <% if @pagy.prev %>
                <%= link_to 'Anterior', pagy_url_for(@pagy, @pagy.prev), class: "inline-block px-4 py-2 mx-1 bg-blue-700 text-white rounded hover:bg-blue-600 transition duration-150 ease-in-out", data: { turbo_frame: 'items' } %>
              <% else %>
                <span class="inline-block px-4 py-2 mx-1 bg-gray-500 text-gray-300 rounded">Anterior</span>
              <% end %>

              <% pagy_series(@pagy).each do |page| %>
                <% if page.is_a?(Integer) %>
                  <%= link_to page, pagy_url_for(@pagy, page), class: "inline-block px-4 py-2 mx-1 #{'bg-blue-600 text-white' if page == @pagy.page} hover:bg-blue-600 text-white hover:text-white transition duration-150 ease-in-out rounded", data: { turbo_frame: 'items' } %>
                <% else %>
                  <span class="inline-block px-4 py-2 mx-1 text-white">...</span>
                <% end %>
              <% end %>

              <% if @pagy.next %>
                <%= link_to 'Siguiente', pagy_url_for(@pagy, @pagy.next), class: "inline-block px-4 py-2 mx-1 bg-blue-700 text-white rounded hover:bg-blue-600 transition duration-150 ease-in-out", data: { turbo_frame: 'items' } %>
              <% else %>
                <span class="inline-block px-4 py-2 mx-1 bg-gray-500 text-gray-300 rounded">Siguiente</span>
              <% end %>
            </nav>
          <% end %>
        </div>

        <div data-controller="pagination" data-pagination-url="<%= items_path %>" data-pagination-max-pages="<%= @pagy.pages %>" class="mt-4 mb-4 flex justify-center bg-gray-800 py-4 rounded-lg">
          <label for="go-to-page" class="mr-2 text-gray-200">Ir a la página:</label>
          <input type="number" id="go-to-page" data-pagination-target="input" min="1" max="<%= @pagy.pages %>" class="border rounded px-2 py-1 text-gray-900" placeholder="Página">
          <button data-action="click->pagination#goToPage" class="ml-2 px-4 py-2 bg-blue-600 text-white rounded">Ir</button>
        </div>

        <div class="overflow-x-auto table-responsive">
          <table id="default-table" class="min-w-full bg-gray-800 text-white">
            <thead>
            <tr>
              <th class="w-1/5 px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider break-words">Identificador</th>
              <th class="w-1/5 px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider break-words">Clasificación</th>
              <th class="w-1/5 px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider break-words">Empresa</th>
              <th class="w-1/5 px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider break-words">Última inspección</th>
              <th class="w-1/5 px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider break-words">Estado</th>
              <th class="w-1/5 px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider break-words">Acciones</th>
            </tr>
            </thead>
            <tbody class="bg-gray-700 divide-y divide-gray-600">
            <% @items.each do |item| %>
              <tr class="bg-gray-800 border-b border-gray-700">
                <td class="px-6 py-4 whitespace-normal break-words"><%= item.identificador %></td>
                <td class="px-6 py-4 whitespace-normal break-words">Grupo N°<%= item.group.number %></td>
                <td class="px-6 py-4 whitespace-normal break-words text-blue-500"><%= link_to "#{item.principal&.name}", principal_path(item.principal), data: { turbo_frame: "_top" } %></td>

                <% inspection = last_inspection(item) %>
                <% if inspection %>
                  <td class="px-6 py-4 whitespace-normal break-words"><%= format_date(inspection.ins_date) %></td>
                  <td class="px-6 py-4 whitespace-normal break-words"><%= link_to "#{inspection.result}", inspection_path(inspection), class:"text-blue-500", data: { turbo_frame: "_top" } %></td>
                <% else %>
                  <td class="px-6 py-4 whitespace-normal break-words">Aun no hay inspecciones</td>
                  <td class="px-6 py-4 whitespace-normal break-words">N/A</td>
                <% end %>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= link_to 'Ver activo', item_path(item), class: "text-blue-400 hover:text-blue-600", data: { turbo_frame: "_top" } %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>





  <% else %>
        <%= turbo_frame_tag "items-#{@pagy.page}", class: 'items' do %>
          <ul class="divide-y divide-gray-700">
            <% @items.each_with_index do |item, index| %>
              <li class="<%= 'bg-gray-700' if index.even? %> p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-150 ease-in-out">
                <%= render 'item', item: item %>
              </li>
            <% end %>
          </ul>
          <% if @pagy.next %>
            <%= turbo_frame_tag "items-#{@pagy.next}", class: 'items', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>


  </div>
</div>
