<p style="color: green"><%= notice %></p>

<%= render @item %>


<div>
  <%= link_to "Modificar activo", edit_item_path(@item) %> |
  <%= link_to "Ver última inspección", inspection_path(@inspection) if @inspection%> |
  <%= link_to "Volver a activos", items_path %>

  <%= link_to "Eliminar activo", item_path(@item), data:
    {turbo_method: :delete,
     turbo_confirm: 'Estás seguro?'} if Current.user.admin %>
</div>
