<p style="color: green"><%= notice %></p>

<%= render @item %>


<div>
  <%= link_to "Modificar activo", edit_item_path(@item) %> |
  <%= link_to "Modificar detalles adicionales", edit_detail_path(@item.detail) if @item.detail.present? %> |
  <%= link_to "Volver a activos", items_path %>

  <%= button_to "Eliminar activo", @item, method: :delete %>
</div>
