<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-8 bg-gray-900 p-6 rounded-lg shadow-md">
  <%= render @item %>
  <div class="flex flex-wrap justify-start space-x-2 mt-4">
    <div class="lg:w-auto flex flex-col space-y-2">
      <% if @condicion %>
        <%= link_to "Modificar Identificador", edit_identificador_item_path(@item), class: "px-4 py-2 rounded bg-yellow-600 text-gray-900 font-bold text-sm hover:bg-yellow-700 transition duration-300" %>
      <% end %>

      <% if Current.user.admin %>
        <%= link_to "Modificar Empresa", edit_empresa_item_path(@item), class: "px-4 py-2 rounded bg-blue-600 text-gray-900 font-bold text-sm hover:bg-blue-700 transition duration-300" %>
      <% end %>

      <% if @inspection %>
        <%= link_to "Ver última inspección", inspection_path(@inspection), class: "px-4 py-2 rounded bg-green-600 text-gray-900 font-bold text-sm hover:bg-green-700 transition duration-300" %>
      <% end %>

      <%= link_to "Volver a activos", items_path, class: "px-4 py-2 rounded bg-gray-600 text-white font-bold text-sm hover:bg-gray-500 transition duration-300" %>

      <% if Current.user.admin %>
        <%= link_to "Eliminar item", item_path(@item), class: "px-4 py-2 rounded bg-red-600 text-gray-900 font-bold text-sm hover:bg-red-700 transition duration-300", data: { controller: "delete-confirmation", action: "click->delete-confirmation#deleteItem", delete_confirmation_redirect_url_value: "/items" } %>
      <% end %>
    </div>
  </div>
</div>
