<%= form_with(model: @rule, local: true) do |form| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, 'error') %> prohibited this rule from being saved:</h2>

      <ul>
        <% @rule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :point %>
    <%= form.text_field :point %>
  </div>

  <div class="field">
    <%= form.label :"Comprobación a la que corresponde" %>
    <%= form.select :ruletype_id, options_for_select(Ruletype.pluck(:rtype, :id)) %>  </div>

  <div class="field">
    <%= form.label :"Clasificación del ascensor" %>
    <%= form.collection_check_boxes(:group_ids, Group.all, :id, :number) %>
  </div>

  <div class="actions">
    <%= form.submit "#{@rule.new_record? ? 'Crear' : 'Modificar'} defecto" %>
  </div>
<% end %>