<%= form_with(model: @rule, local: true, url: @rule.new_record? ? (@with_same_code ? create_with_same_code_rules_path : (@with_new_code ? create_with_new_code_rules_path : rules_path)) : rule_path(@rule)) do |form| %>  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, 'error') %> prohibited this rule from being saved:</h2>

      <ul>
        <% @rule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Defecto %>
    <%= form.text_area :point, rows: 5, cols: 50 %>
  </div>



  <div class="field">
    <%= form.label :"Comprobación a la que corresponde" %>
    <%= form.select :ruletype_id, options_for_select(Ruletype.pluck(Arel.sql("CONCAT(gygatype_number, ' - ', rtype)"), :id), @last_used_rule) if @rule.new_record?%>
  </div>
  <div class="field">
    <%= form.label :"Clasificación del ascensor" %>
    <%= form.collection_check_boxes(:group_ids, Group.all, :id, :number) %>
  </div>

  <div class="field">
    <%= form.label :"Nivel de importancia" %>
    <%= form.collection_check_boxes(:level, [['L', 'L'], ['G', 'G']], :first, :last) %>
  </div>

  <div class="field">
    <%= form.label :"Tipo de defecto" %>
    <%= form.collection_check_boxes(:ins_type, [['DO', 'DO'], ['VI', 'VI'], ['FU', 'FU'], ['DI', 'DI']], :first, :last) %>
  </div>

  <div class="actions">
    <%= form.submit "#{@rule.new_record? ? 'Crear' : 'Modificar'} defecto" %>
  </div>
<% end %>