<%= form_with(model: @rule, builder: CustomFormBuilder, local: true, url: @rule.new_record? ? (@with_same_code ? create_with_same_code_rules_path : (@with_new_code ? create_with_new_code_rules_path : rules_path)) : rule_path(@rule)) do |form| %>
  <% if @rule.errors.any? %>
    <% error_messages = @rule.errors.full_messages.map { |msg| "<li>#{j msg}</li>" }.join %>
    <%= javascript_tag do %>
      Swal.fire({
      icon: 'error',
      title: 'Error: Defecto no pudo ser guardado',
      html: '<ul style="text-align: left;">' + '<%= raw error_messages %>' + '</ul>',
      confirmButtonText: 'Entendido'
      })
    <% end %>
  <% end %>


  <div class="mb-4">
    <%= form.label :Defecto, class: "block text-gray-300 font-bold mb-2" %>
    <%= form.text_area :point, rows: 5, maxlength: 1000, class: "shadow appearance-none border rounded w-full py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>



  <% if @last_used_rule %>
    <div class="mb-4">
      <%= form.label :"Comprobación a la que corresponde", class: "block text-gray-300 font-bold mb-2" %>
      <%= form.select :ruletype_id, options_for_select([['Seleccione una opción', @placeholder_id]] + Ruletype.where.not(gygatype_number: '100.1').pluck(Arel.sql("CONCAT(gygatype_number, ' - ', rtype)"), :id), @last_used_rule), {}, { data: { controller: "slim-select" }, class: "block appearance-none w-full bg-gray-700 border border-gray-600 text-white py-2 px-3 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-500 focus:border-gray-500" } %>
    </div>

  <% elsif @cosa_edit_combobox %>
    <div class="mb-4">
      <%= form.label :"Comprobación a la que corresponde", class: "block text-gray-300 font-bold mb-2" %>
      <%= form.select :ruletype_id, options_for_select([['Seleccione una opción', @placeholder_id]] + Ruletype.where.not(gygatype_number: '100.1').pluck(Arel.sql("CONCAT(gygatype_number, ' - ', rtype)"), :id), @rule.ruletype_id), {}, { data: { controller: "slim-select" }, class: "block appearance-none w-full bg-gray-700 border border-gray-600 text-white py-2 px-3 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-500 focus:border-gray-500" } %>
    </div>
  <% end %>




  <div class="mb-4">
    <%= form.label :"Clasificación del ascensor", class: "block text-gray-300 font-bold mb-2" %>
    <%= form.collection_select(:group_ids,
                               Group.where("LOWER(name) NOT LIKE ?", "%escala%"),
                               :id,
                               :name,
                               {},
                               { multiple: true, size: 5, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm", data: { controller: 'slim' } }) %>
  </div>



  <div class="mb-4">
    <%= form.label :"Nivel de importancia", class: "block text-gray-300 font-bold mb-2" %>
    <%= form.collection_check_boxes(:level, [['L', 'L'], ['G', 'G']], :first, :last) do |b| %>
      <div class="inline-block mr-2">
        <%= b.check_box(class: "form-checkbox text-blue-600 bg-gray-700 border-white focus:ring-2 focus:ring-blue-600") %>
        <%= b.label(class: "ml-1 text-white") %>
      </div>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :"Tipo de defecto", class: "block text-gray-300 font-bold mb-2" %>
    <%= form.collection_check_boxes(:ins_type, [['DO', 'DO'], ['VI', 'VI'], ['FU', 'FU'], ['DI', 'DI']], :first, :last) do |b| %>
      <div class="inline-block mr-2">
        <%= b.check_box(class: "form-checkbox text-blue-600 bg-gray-700 border-white focus:ring-2 focus:ring-blue-600") %>
        <%= b.label(class: "ml-1 text-white") %>
      </div>
    <% end %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit "#{@rule.new_record? ? 'Crear' : 'Modificar'} defecto", class: "bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
