<h1>Defectos</h1>

<%= link_to 'Define new rule with new code', new_with_new_code_rules_path %>
<%= link_to 'Define new rule with same code', new_with_same_code_rules_path %>

<% @rules.each do |rule| %>
  <p><%= link_to "#{rule.code} #{rule.point}", rule %></p>
<% end %>



<div>
  <%= link_to 'Volver a clasificación de ascensores', groups_path %>
</div>

<div>
  <%= link_to 'Comprobaciones', ruletypes_path %>
</div>
