
  <h1>Defectos</h1>

<br>
<h1>ADVERTENCIA: CUIDADO CON HACER CAMBIOS EN ESTA PARTE, EL ARREGLARLO SERÍA EXTREMADAMENTE TEDIOSO</h1>

<div>
  <%= link_to 'Definir defecto con código distinto', new_with_new_code_rules_path %>

</div>

<div>
  <%= link_to 'Definir defecto el mismo código que el anterior', new_with_same_code_rules_path %>

</div>



<div>
  <%= link_to 'Volver a clasificación de ascensores', groups_path %>
</div>

<div>
  <%= link_to 'Comprobaciones', ruletypes_path %>
</div>

  <%= link_to 'Importar defectos desde excel', new_import_rules_path %>


  <%= turbo_frame_tag 'rules' do %>

    <%= render 'shared/search_form', form_url: rules_path %>


    <%= turbo_frame_tag "rules-#{@pagy.page}", class: 'rules' do %>
    <% @rules.each do |rule| %>
      <%= turbo_frame_tag "rule-#{rule.id}" do %>
        <p><%= link_to "#{rule.code} #{rule.point}", rule, 'data-turbo-frame':"_top" %></p>
      <% end %>
    <% end %>

    <%= turbo_frame_tag "rules-#{@pagy.next}", class: 'rules', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next.present? %>
  <% end %>
<% end %>



