
  <h1>Defectos</h1>

<br>

<div>
  <%= link_to 'Definir defecto con c칩digo distinto', new_with_new_code_rules_path %>

</div>

<div>
  <%= link_to 'Definir defecto el mismo c칩digo que el anterior', new_with_same_code_rules_path %>

</div>



<div>
  <%= link_to 'Volver a clasificaci칩n de ascensores', groups_path %>
</div>

<div>
  <%= link_to 'Comprobaciones', ruletypes_path %>
</div>
  <div>
  <%= link_to 'Importar defectos desde excel', new_import_rules_path %>
  </div>

  <br>
  <div>
    <%= link_to 'Ver defectos de escalas mec치nicas', ladders_path %>
  </div>
  <br>

  <%= turbo_frame_tag 'rules' do %>

    <%= render 'shared/search_form', form_url: rules_path %>


    <%= turbo_frame_tag "rules-#{@pagy.page}", class: 'rules' do %>
    <% @rules.each do |rule| %>
      <%= turbo_frame_tag "rule-#{rule.id}" do %>
        <p><%= link_to "#{rule.code} #{rule.point}", rule, 'data-turbo-frame':"_top" %></p>
      <% end %>
    <% end %>

    <%= turbo_frame_tag "rules-#{@pagy.next}", class: 'rules', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next.present? %>
  <% end %>
<% end %>



