<h1>Defectos</h1>

<div>
  <%= link_to 'Definir defecto con código distinto', new_with_new_code_rules_path %>

</div>

<div>
  <%= link_to 'Definir defecto el mismo código que el anterior', new_with_same_code_rules_path %>

</div>

<% @rules.each do |rule| %>
  <p><%= link_to "#{rule.code} #{rule.point}", rule %></p>
<% end %>



<div>
  <%= link_to 'Volver a clasificación de ascensores', groups_path %>
</div>

<div>
  <%= link_to 'Comprobaciones', ruletypes_path %>
</div>
