<%= form_tag import_rules_path, multipart: true, class: "max-w-xl mx-auto my-8 px-4 py-6 bg-gray-900 rounded-lg shadow-md" do %>
  <div class="flex flex-col space-y-4">
    <div>
      <%= label_tag :file, "Seleccionar archivo", class: "block text-gray-300 font-bold mb-2" %>
      <%= file_field_tag :file, class: "block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" %>
    </div>

    <div>
      <%= label_tag :group_id, "Selecciona el grupo", class: "block text-gray-300 font-bold mb-2" %>
      <%= select_tag :group_id, options_from_collection_for_select(Group.where("name NOT ILIKE ?", "%Escala%").order(:name), :id, :name), prompt: 'Selecciona el grupo', class: "block appearance-none w-full bg-gray-700 border border-gray-600 text-white py-2 px-3 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-500 focus:border-gray-500" %>
    </div>

    <div>
      <%= submit_tag "Importar fallas desde excel", class: "w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
<% end %>
