<h1><%= @rule.point %></h1>
<p>
  <strong>Comprobacion:</strong>
  <%= @rule.ruletype.rtype %>
  <br> <br>
  <strong>Clasificación del ascensor: </strong>
  <p> Grupo N°:
  <%= @rule.groups.pluck(:number).join(', ') %>
  </p>
</p>



<div>
  <%= link_to 'Modificar defecto', edit_rule_path(@rule) %>
</div>

<div>
  <%= link_to 'Eliminar defecto', rule_path(@rule), data:
    {turbo_method: :delete,
     turbo_confirm: 'Estás seguro?'} if Current.user&.admin %>
</div>

<div>
  <%= link_to 'Volver a defecto', rules_path %>
</div>