<h1><%= @rule.point %></h1>
<p>
  <strong>Tipo de regla:</strong>
  <%= @rule.ruletype.rtype %>
</p>

<%= link_to 'Edit Rule', edit_rule_path(@rule) %> |
<%= link_to 'Eliminar regla', rule_path(@rule), data:
  {turbo_method: :delete,
   turbo_confirm: 'Estás seguro?'} if Current.user&.admin %>
<%= link_to 'Back to Rules', rules_path %>
