<div id="<%= dom_id detail %>">
  <p>
    <strong>Detalle:</strong>
    <%= detail.detalle %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= detail.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= detail.modelo %>
  </p>

  <p>
    <strong>N serie:</strong>
    <%= detail.n_serie %>
  </p>

  <p>
    <strong>Mm marca:</strong>
    <%= detail.mm_marca %>
  </p>

  <p>
    <strong>Mm n serie:</strong>
    <%= detail.mm_n_serie %>
  </p>

  <p>
    <strong>Potencia:</strong>
    <%= detail.potencia %>
  </p>

  <p>
    <strong>Capacidad:</strong>
    <%= detail.capacidad %>
  </p>

  <p>
    <strong>Personas:</strong>
    <%= detail.personas %>
  </p>

  <p>
    <strong>Ct marca:</strong>
    <%= detail.ct_marca %>
  </p>

  <p>
    <strong>Ct cantidad:</strong>
    <%= detail.ct_cantidad %>
  </p>

  <p>
    <strong>Ct diametro:</strong>
    <%= detail.ct_diametro %>
  </p>

  <p>
    <strong>Medidas cintas:</strong>
    <%= detail.medidas_cintas %>
  </p>

  <p>
    <strong>Rv marca:</strong>
    <%= detail.rv_marca %>
  </p>

  <p>
    <strong>Rv n serie:</strong>
    <%= detail.rv_n_serie %>
  </p>

  <p>
    <strong>Paradas:</strong>
    <%= detail.paradas %>
  </p>

  <p>
    <strong>Embarques:</strong>
    <%= detail.embarques %>
  </p>

  <p>
    <strong>Sala maquinas:</strong>
    <%= detail.sala_maquinas %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= detail.item_id %>
  </p>

</div>
