<div id="<%= dom_id detail %>">
  <p>
    <strong>Detalle:</strong>
    <%= detail.detalle %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= detail.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= detail.modelo %>
  </p>

  <p>
    <strong>N° de serie:</strong>
    <%= detail.n_serie %>
  </p>


  <h3>Motor Motriz</h3>
  <p>
    <strong>Marca:</strong>
    <%= detail.mm_marca %>
  </p>

  <p>
    <strong>N° de serie:</strong>
    <%= detail.mm_n_serie %>
  </p>

  <p>
    <strong>Potencia Kw:</strong>
    <%= detail.potencia %>
  </p>

  <p>
    <strong>Capacidad:</strong>
    <%= detail.capacidad %>
  </p>

  <p>
    <strong>Personas:</strong>
    <%= detail.personas %>
  </p>


  <h3>Cables de Tracción</h3>
  <p>
    <strong>Marca:</strong>
    <%= detail.ct_marca %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= detail.ct_cantidad %>
  </p>

  <p>
    <strong>Diametro mm:</strong>
    <%= detail.ct_diametro %>
  </p>

  <p>
    <strong>Medidas de cintas mm:</strong>
    <%= detail.medidas_cintas %>
  </p>

  <h3>Regulador de Velocidad</h3>
  <p>
    <strong>Velocidad:</strong>
    <%= detail.velocidad %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= detail.rv_marca %>
  </p>

  <p>
    <strong>N° de serie:</strong>
    <%= detail.rv_n_serie %>
  </p>

  <p>
    <strong>Paradas:</strong>
    <%= detail.paradas %>
  </p>

  <p>
    <strong>Embarques:</strong>
    <%= detail.embarques %>
  </p>

  <p>
    <strong>Sala de máquinas:</strong>
    <%= detail.sala_maquinas %>
  </p>

  <p>
    <strong>Activo:</strong>
    <%= detail.item.identificador %>
  </p>

</div>
