<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-8 bg-gray-900 p-6 rounded-lg shadow-md">
  <%= form_with(model: detail, builder: CustomFormBuilder, local: true, class: "space-y-4") do |form| %>
    <% if detail.errors.any? %>
      <div class="text-red-500 bg-red-900 p-4 rounded">
        <h2><%= pluralize(detail.errors.count, "error") %> No se pudieron guardar los datos sobre el activo:</h2>
        <ul>
          <% detail.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>




    <div class="form-group">
      <%= form.label :rol_n, "Rol N°", class: "block text-gray-300" %>
      <%= form.text_field :rol_n, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :numero_permiso, "N° de permiso", class: "block text-gray-300" %>
      <%= form.number_field :numero_permiso, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :fecha_permiso, "Fecha de permiso", class: "block text-gray-300" %>
      <%= form.date_field :fecha_permiso, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :porcentaje, "% de ocupación", class: "block text-gray-300" %>
      <%= form.number_field :porcentaje, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :destino, class: "block text-gray-300" %>
      <%= form.text_field :destino, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :recepcion, class: "block text-gray-300" %>
      <%= form.text_field :recepcion, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :empresa_instaladora, class: "block text-gray-300" %>
      <%= form.text_field :empresa_instaladora, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :empresa_instaladora_rut, class: "block text-gray-300" %>
      <%= form.text_field :empresa_instaladora_rut, data: { controller: "rut", rut_target: "rut" }, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :detalle, class: "block text-gray-300" %>
      <%= form.text_field :detalle, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :descripcion, class: "block text-gray-300" %>
      <%= form.text_field :descripcion, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :marca, class: "block text-gray-300" %>
      <%= form.text_field :marca, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :modelo, class: "block text-gray-300" %>
      <%= form.text_field :modelo, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :n_serie, "N° de serie", class: "block text-gray-300" %>
      <%= form.text_field :n_serie, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="text-white text-lg font-semibold mt-6 mb-2">
      Motor Motriz
    </div>

    <div class="form-group">
      <%= form.label :mm_marca, "Marca", class: "block text-gray-300" %>
      <%= form.text_field :mm_marca, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :mm_n_serie, "N° de serie", class: "block text-gray-300" %>
      <%= form.text_field :mm_n_serie, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :potencia, "Potencia Kw", class: "block text-gray-300" %>
      <%= form.text_field :potencia, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :capacidad, "Capacidad Kg", class: "block text-gray-300" %>
      <%= form.number_field :capacidad, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :personas, "Personas", class: "block text-gray-300" %>
      <%= form.number_field :personas, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="text-white text-lg font-semibold mt-6 mb-2">
      Cables de Tracción
    </div>

    <div class="form-group">
      <%= form.label :ct_marca, "Marca", class: "block text-gray-300" %>
      <%= form.text_field :ct_marca, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :ct_cantidad, "Cantidad", class: "block text-gray-300" %>
      <%= form.number_field :ct_cantidad, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :ct_diametro, "Diámetro", class: "block text-gray-300" %>
      <%= form.text_field :ct_diametro, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :medidas_cintas, "Medidas de cintas mm", class: "block text-gray-300" %>
      <%= form.text_field :medidas_cintas, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :velocidad, "Velocidad m/s", class: "block text-gray-300" %>
      <%= form.text_field :velocidad, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :rv_marca, "Marca", class: "block text-gray-300" %>
      <%= form.text_field :rv_marca, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :rv_n_serie, "N° serie", class: "block text-gray-300" %>
      <%= form.text_field :rv_n_serie, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :paradas, "Paradas", class: "block text-gray-300" %>
      <%= form.number_field :paradas, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :embarques, "Embarques", class: "block text-gray-300" %>
      <%= form.number_field :embarques, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :sala_maquinas, "Sala de maquinas", class: "block text-gray-300" %>
      <%= form.select :sala_maquinas, ["Responder más tarde", "Si", "No. Máquina en la parte superior", "No. Máquina en foso", "No. Maquinaria fuera de la caja de elevadores"], {},                   class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
      %>
    </div>

    <div>
      <%= form.submit "Actualizar información del activo", class: "w-full bg-blue-600 hover:bg-blue-700 text-gray-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
