<%= form_with(model: detail) do |form| %>
  <% if detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
        <% detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Detalle, style: "display: block" %>
    <%= form.text_field :detalle %>
  </div>

  <div>
    <%= form.label :Marca, style: "display: block" %>
    <%= form.text_field :marca %>
  </div>

  <div>
    <%= form.label :Modelo, style: "display: block" %>
    <%= form.text_field :modelo %>
  </div>

  <div>
    <%= form.label :"N° de serie", style: "display: block" %>
    <%= form.number_field :n_serie %>
  </div>

  <p>
    <strong>Motor Motriz</strong>
  </p>

  <div>
    <%= form.label :Marca, style: "display: block" %>
    <%= form.text_field :mm_marca %>
  </div>

  <div>
    <%= form.label :"N° de serie", style: "display: block" %>
    <%= form.number_field :mm_n_serie %>
  </div>

  <div>
    <%= form.label :"Potencia Kw", style: "display: block" %>
    <%= form.text_field :potencia %>
  </div>

  <div>
    <%= form.label :"Capacidad Kg", style: "display: block" %>
    <%= form.number_field :capacidad %>
  </div>

  <div>
    <%= form.label :Personas, style: "display: block" %>
    <%= form.number_field :personas %>
  </div>

  <p>
    <strong>Cables de Tracción</strong>
  </p>

  <div>
    <%= form.label :Marca, style: "display: block" %>
    <%= form.text_field :ct_marca %>
  </div>

  <div>
    <%= form.label :Cantidad, style: "display: block" %>
    <%= form.number_field :ct_cantidad %>
  </div>

  <div>
    <%= form.label :"Diámetro", style: "display: block" %>
    <%= form.text_field :ct_diametro %>
  </div>

  <div>
    <%= form.label :"Medidas de cintas mm", style: "display: block" %>
    <%= form.text_field :medidas_cintas %>
  </div>

  <p>
    <strong>Regulador de velocidad:</strong>
  </p>

  <div>
    <%= form.label :"Velocidad m/s", style: "display: block" %>
    <%= form.text_field :velocidad %>
  </div>
  <div>
    <%= form.label :Marca, style: "display: block" %>
    <%= form.text_field :rv_marca %>
  </div>

  <div>
    <%= form.label :"N° serie", style: "display: block" %>
    <%= form.number_field :rv_n_serie %>
  </div>

  <div>
    <%= form.label :Paradas, style: "display: block" %>
    <%= form.number_field :paradas %>
  </div>

  <div>
    <%= form.label :Embarques, style: "display: block" %>
    <%= form.number_field :embarques %>
  </div>

  <div>
    <%= form.label :"Sala de maquinas", style: "display: block" %>
    <%= form.select :sala_maquinas, ["Responder más tarde", "Si", "No. Máquina en la parte superior", "No. Máquina en foso", "No. Maquinaria fuera de la caja de elevadores"], {}%>
  </div>

  <div>
    <%= form.submit "Actualizar información del activo" %>
  </div>
<% end %>
