<%= form_with(model: detail, builder: CustomFormBuilder, class: "space-y-6 max-w-md mx-auto bg-gray-900 text-white p-6 rounded-lg shadow-lg") do |form| %>
  <% if detail.errors.any? %>
    <div class="text-red-400 bg-red-800 p-2 rounded">
      <h2><%= pluralize(detail.errors.count, "error") %> No se pudieron guardar los datos sobre el activo:</h2>
      <ul>
        <% detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Detalles Generales del Activo -->
  <div>
    <%= form.label :detalle, "Detalle:", class: "block text-gray-300" %>
    <%= form.text_field :detalle, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
  </div>

  <div>
    <%= form.label :marca, "Marca:", class: "block text-gray-300" %>
    <%= form.text_field :marca, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
  </div>

  <div>
    <%= form.label :modelo, "Modelo:", class: "block text-gray-300" %>
    <%= form.text_field :modelo, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
  </div>

  <div>
    <%= form.label :n_serie, "N° de serie:", class: "block text-gray-300" %>
    <%= form.text_field :n_serie, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
  </div>

  <!-- Motor Motriz -->
  <div class="pt-4">
    <p class="text-gray-300 font-bold">Motor Motriz</p>
    <%= form.label :mm_marca, "Marca del Motor:", class: "block text-gray-300" %>
    <%= form.text_field :mm_marca, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>

    <%= form.label :mm_n_serie, "N° de serie del Motor:", class: "block text-gray-300" %>
    <%= form.text_field :mm_n_serie, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>

    <%= form.label :potencia, "Potencia (Kw):", class: "block text-gray-300" %>
    <%= form.text_field :potencia, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>

 </div>

  <div>

    <%= form.label :capacidad, "Capacidad (Kg):", class: "block text-gray-300" %>
    <%= form.number_field :capacidad, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
  </div>
  <div>

    <%= form.label :personas, "Capacidad de Personas:", class: "block text-gray-300" %>
    <%= form.number_field :personas, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
  </div>

  <!-- Cables de Tracción -->
  <div class="pt-4">
    <p class="text-gray-300 font-bold">Cables de Tracción</p>
    <%= form.label :ct_marca, "Marca de Cables:", class: "block text-gray-300" %>
    <%= form.text_field :ct_marca, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>

    <%= form.label :ct_cantidad, "Cantidad de Cables:", class: "block text-gray-300" %>
    <%= form.number_field :ct_cantidad, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>

    <%= form.label :ct_diametro, "Diámetro de Cables (mm):", class: "block text-gray-300" %>
    <%= form.text_field :ct_diametro, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
  </div>

  <!-- Botón de Envío -->
  <div>
    <%= form.submit "Actualizar información del activo", class: "w-full bg-blue-600 hover:bg-blue-700 text-gray-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
