<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-8 bg-gray-900 p-6 rounded-lg shadow-md">
  <%= form_with(model: detail, builder: CustomFormBuilder, local: true, class: "space-y-4") do |form| %>
    <% if detail.errors.any? %>
      <% error_messages = detail.errors.full_messages.map { |msg| "<li>#{j msg}</li>" }.join %>
      <%= javascript_tag do %>
        Swal.fire({
        icon: 'error',
        title: 'Error: No se pudieron guardar el detalle del activo',
        html: '<ul style="text-align: left;">' + '<%= raw error_messages %>' + '</ul>',
        confirmButtonText: 'Entendido'
        })
      <% end %>
    <% end %>





    <div class="form-group">
      <%= form.label :rol_n, "Rol N°", class: "block text-gray-300" %>
      <%= form.text_field :rol_n, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"%>
    </div>


    <div class="form-group">
      <%= form.label :numero_permiso, "N° de permiso de edificación", class: "block text-gray-300" %>
      <%= form.number_field :numero_permiso, max: 1000000000, min:0, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :fecha_permiso, "Fecha de permiso de edificación", class: "block text-gray-300" %>
      <%= form.date_field :fecha_permiso, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :porcentaje, "% de ocupación", class: "block text-gray-300" %>
      <%= form.number_field :porcentaje, max: 100, min:0, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :destino, class: "block text-gray-300" %>
      <%= form.select :destino, options_for_select([['S/I', 'S/I'], ['Equipamiento', 'Equipamiento'], ['Residencial', 'Residencial'], ['Habitacional (excepto vivienda)', 'Habitacional (excepto vivienda)'],['Habitacional', 'Habitacional'],['Infraestructura', 'Infraestructura'],]), {}, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>



    <div class="form-group">
      <%= form.label :recepcion, class: "block text-gray-300" %>
      <%= form.date_field :recepcion, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <hr class="my-4 border-gray-500">


    <div class="form-group">
      <%= form.label :empresa_instaladora_rut, class: "block text-gray-300" %>
      <%= form.text_field :empresa_instaladora_rut, data: { controller: "rut", rut_target: "rut" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :empresa_instaladora, class: "block text-gray-300" %>
      <%= form.text_field :empresa_instaladora,
                          data: { controller: "titleize", action: "input->titleize#updateInput", titleize_target: "input" }, maxlength: 100,
                          class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>    </div>

    <hr class="my-4 border-gray-500">

    <div class="form-group">
      <%= form.label :detalle, class: "block text-gray-300" %>
      <%= form.text_field :detalle, data: { controller: "capitalize", action: "input->capitalize#capitalizeFirstLetter", capitalize_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :descripcion, class: "block text-gray-300" %>
      <%= form.text_field :descripcion, data: { controller: "capitalize", action: "input->capitalize#capitalizeFirstLetter", capitalize_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :marca, class: "block text-gray-300" %>
      <%= form.text_field :marca, data: { controller: "capitalize", action: "input->capitalize#capitalizeFirstLetter", capitalize_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :modelo, class: "block text-gray-300" %>
      <%= form.text_field :modelo, data: { controller: "capitalize", action: "input->capitalize#capitalizeFirstLetter", capitalize_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :n_serie, "N° de serie", class: "block text-gray-300" %>
      <%= form.text_field :n_serie, data: { controller: "uppercase", uppercase_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <hr class="my-4 border-gray-500">

    <div class="text-white text-lg font-semibold mt-6 mb-2">
      Motor Motriz
    </div>

    <div class="form-group">
      <%= form.label :mm_marca, "Marca", class: "block text-gray-300" %>
      <%= form.text_field :mm_marca, data: { controller: "capitalize", action: "input->capitalize#capitalizeFirstLetter", capitalize_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :mm_n_serie, "N° de serie", class: "block text-gray-300" %>
      <%= form.text_field :mm_n_serie, data: { controller: "uppercase", uppercase_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :potencia, "Potencia Kw", class: "block text-gray-300" %>
      <%= form.number_field :potencia, max: 1000000, min: 0, step: 0.00001, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :capacidad, "Capacidad Kg", class: "block text-gray-300" %>
      <%= form.number_field :capacidad, max: 1000000, min:0, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :personas, "Personas", class: "block text-gray-300" %>
      <%= form.number_field :personas, max: 1000000, min:0, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <hr class="my-4 border-gray-500">


    <div class="text-white text-lg font-semibold mt-6 mb-2">
      Cables de Tracción
    </div>

    <div class="form-group">
      <%= form.label :ct_marca, "Marca", class: "block text-gray-300" %>
      <%= form.text_field :ct_marca, data: { controller: "capitalize", action: "input->capitalize#capitalizeFirstLetter", capitalize_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>
    <div class="form-group">
      <%= form.label :ct_cantidad, "Cantidad", class: "block text-gray-300" %>
      <%= form.number_field :ct_cantidad, max: 1000000, min:0, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :ct_diametro, "Diámetro mm", class: "block text-gray-300" %>
      <%= form.number_field :ct_diametro, max: 1000000, min: 0, step: 0.00001, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :medidas_cintas, "Ancho Medidas de cintas mm", class: "block text-gray-300" %>
      <%= form.number_field :medidas_cintas, max: 1000000, min: 0, step: 0.00001, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :medidas_cintas_espesor, "Espesor Medidas de cintas mm", class: "block text-gray-300" %>
      <%= form.number_field :medidas_cintas_espesor, max: 1000000, min: 0, step: 0.00001, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <hr class="my-4 border-gray-500">


    <div class="text-white text-lg font-semibold mt-6 mb-2">
      Regulador de Velocidad
    </div>

    <div class="form-group">
      <%= form.label :velocidad, "Velocidad m/s", class: "block text-gray-300" %>
      <%= form.number_field :velocidad, max: 1000000, min: 0, step: 0.0001, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :rv_marca, "Marca", class: "block text-gray-300" %>
      <%= form.text_field :rv_marca, data: { controller: "capitalize", action: "input->capitalize#capitalizeFirstLetter", capitalize_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :rv_n_serie, "N° serie", class: "block text-gray-300" %>
      <%= form.text_field :rv_n_serie, data: { controller: "uppercase", uppercase_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <hr class="my-4 border-gray-500">

    <div class="form-group">
      <%= form.label :paradas, "Paradas", class: "block text-gray-300" %>
      <%= form.number_field :paradas, max: 1000000, min:0, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div class="form-group">
      <%= form.label :embarques, "Embarques", class: "block text-gray-300" %>
      <%= form.number_field :embarques, max: 1000000, min:0, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>


    <div class="form-group">
      <%= form.label :sala_maquinas, "Sala de maquinas", class: "block text-gray-300" %>
      <%= form.select :sala_maquinas, ["Responder más tarde", "Si", "No. Máquina en la parte superior", "No. Máquina en foso", "No. Maquinaria fuera de la caja de elevadores"], {}, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>

    </div>
    <%= hidden_field_tag :closed, params[:closed] || false %>
    <%= hidden_field_tag :inspection_origin, params[:inspection_origin] || @inspection %>

    <div>
      <%= form.submit "Actualizar información del activo", class: "w-full bg-blue-600 hover:bg-blue-700 text-gray-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
    </div>
  <% end %>
</div>
