<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-8 bg-gray-900 p-6 rounded-lg shadow-md">
  <h1 class="text-3xl font-bold text-white text-center mb-6">Detalle del activo</h1>

  <% if Current.user.admin %>

    <% if inspection.state == "Abierto" %>
      <%= link_to 'Modificar datos',
                  '#',
                  data: {
                    controller: "form-completion-alert",
                    action: "click->form-completion-alert#handleClick",
                    form_completion_alert_destination_url_value: edit_detail_path(detail, closed: true, inspection_origin: inspection),
                    form_completion_alert_is_inspection_open_value: (inspection.state == 'Abierto').to_s
                  },
                  class: "px-3 py-2 rounded bg-yellow-500 text-gray-900 font-bold hover:bg-yellow-600 mt-2" %>

    <% else %>
      <%= link_to 'Modificar datos',
                  edit_detail_path(detail, closed:true, inspection_origin: inspection),
                  class: "px-3 py-2 rounded bg-yellow-500 text-gray-900 font-bold hover:bg-yellow-600 mt-2" %>
    <% end %>



  <% end %>


  <div class="space-y-4 mt-6">
    <%# Detalle del activo %>
    <div class="form-group">
      <label class="block text-gray-300">Rol N°</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.rol_n %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">N° de permiso de edificación</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.numero_permiso %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Fecha de permiso de edificación</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.fecha_permiso %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">% de ocupación</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.porcentaje %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Destino</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.destino %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Recepción</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.recepcion %></div>
    </div>

    <hr class="my-4 border-gray-500">

    <%# Empresa Instaladora %>
    <div class="form-group">
      <label class="block text-gray-300">RUT Empresa Instaladora</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.empresa_instaladora_rut %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Empresa Instaladora</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.empresa_instaladora %></div>
    </div>

    <hr class="my-4 border-gray-500">

    <%# Información del activo %>
    <div class="form-group">
      <label class="block text-gray-300">Detalle</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.detalle %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Descripción</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.descripcion %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Marca</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.marca %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Modelo</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.modelo %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">N° de serie</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.n_serie %></div>
    </div>

    <hr class="my-4 border-gray-500">

    <%# Motor Motriz %>
    <div class="text-white text-lg font-semibold mt-6 mb-2">Motor Motriz</div>

    <div class="form-group">
      <label class="block text-gray-300">Marca</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.mm_marca %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">N° de serie</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.mm_n_serie %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Potencia Kw</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.potencia %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Capacidad Kg</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.capacidad %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Personas</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.personas %></div>
    </div>

    <hr class="my-4 border-gray-500">

    <%# Cables de Tracción %>
    <div class="text-white text-lg font-semibold mt-6 mb-2">Cables de Tracción</div>

    <div class="form-group">
      <label class="block text-gray-300">Marca</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.ct_marca %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Cantidad</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.ct_cantidad %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Diámetro mm</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.ct_diametro %></div>
    </div>


    <div class="form-group">
      <label class="block text-gray-300">Ancho Medida Cinta mm</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.medidas_cintas %></div>
    </div>



    <div class="form-group">
      <label class="block text-gray-300">Espesor Medida Cinta mm</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.medidas_cintas_espesor %></div>
    </div>


    <hr class="my-4 border-gray-500">

    <%# Regulador de Velocidad %>
    <div class="text-white text-lg font-semibold mt-6 mb-2">Regulador de Velocidad</div>

    <div class="form-group">
      <label class="block text-gray-300">Velocidad m/s</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.velocidad %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Marca</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.rv_marca %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">N° serie</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.rv_n_serie %></div>
    </div>

    <hr class="my-4 border-gray-500">

    <%# Otras propiedades %>
    <div class="form-group">
      <label class="block text-gray-300">Paradas</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.paradas %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Embarques</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.embarques %></div>
    </div>

    <div class="form-group">
      <label class="block text-gray-300">Sala de máquinas</label>
      <div class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md"><%= detail.sala_maquinas %></div>
    </div>
  </div>
</div>
