<% if Current.user.admin? %>
  <%= form_with(model: inspection, local: true, html: { autocomplete: "off" }) do |form| %>
    <% if inspection.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(inspection.errors.count, "error") %> No se pudo guardar esta inspección:</h2>

        <ul>
          <% inspection.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.fields_for :item, inspection.item || inspection.build_item do |item_form| %>
      <div>
          <%= item_form.label :group_id, "Clasificación del ascensor" %>
        <%= item_form.select :group_id, options_for_select(Group.all.map { |g| [g.number, g.id] }, selected: @item.try(:group_id)), {}, { data: { principal_select_target: "principal" } } %>
      </div>
      <div data-controller="principal-select">
        <div>
          <%= item_form.label :empresa, "Empresa" %>
          <%= item_form.collection_select :principal_id, Principal.all, :id, :name, { prompt: 'Selecciona una mandante' }, { data: { principal_select_target: "principal", action: "change->principal-select#updateItems" } } %>
        </div>
        <div>
          <label for="inspection_item_attributes_identificador">Identificador</label>
          <input list="identificador-options" type="text" name="inspection[item_attributes][identificador]" id="inspection_item_attributes_identificador" value="<%= @item.identificador if @item.present? %>">
          <datalist id="identificador-options" data-principal-select-target="identificadorList">
          </datalist>
        </div>

      </div>



    <% end %>


    <div data-controller="place-select">
      <%= form.label :"Lugar de inspección", style: "display: block" %>
      <%= form.text_field :place, list: "place-options", id: "inspection_place", data: { place_select_target: "place", action: "change->place-select#updatePlaces" } %>
      <datalist id="place-options" data-place-select-target="placeList"></datalist>
    </div>

    <div>
      <%= form.label :"Fecha de inspección", style: "display: block" %>
      <%= form.date_field :ins_date %>
    </div>

    <div>
      <%= form.label :Periocidad, style: "display: block" %>
      <%= form.select :validation, options_for_select([['1 año', 1], ['2 años', 2]]) %>
    </div>

    <div>
      <%= form.label :"Inspector asignado", style: "display: block" if Current.user.admin %>
      <%= form.select :user_id, options_for_select(User.where(admin: false).map { |u| [u.real_name, u.id] }, @inspection.user_id), {include_blank: true}, {data: {controller: 'slim'}} if Current.user.admin %>
    </div>

    <br>

    <div>
      <%= form.submit "#{inspection.new_record? ? 'Crear' : 'Actualizar'} Inspección" %>
    </div>
  <% end %>
<% end %>