<% if Current.user.admin? %>
  <%= form_with(model: inspection, local: true, builder: CustomFormBuilder, class: "space-y-4 max-w-md mx-auto bg-gray-900 text-white p-6 rounded-lg shadow-md") do |form| %>
    <% if inspection.errors.any? %>
      <div class="text-red-400 bg-red-800 p-2 rounded">
        <h2><%= "Error: " %> No se pudo guardar esta inspección:</h2>
        <ul>
          <% inspection.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.fields_for :item, inspection.item || inspection.build_item do |item_form| %>
      <div>
        <%= item_form.label :group_id, "Clasificación del ascensor", class: "block text-gray-300" %>
        <%= item_form.select :group_id, options_for_select(Group.all.map { |g| [g.name, g.id] }, selected: @item.try(:group_id)), {}, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
      </div>

      <div data-controller="principal-select">
        <div>
          <%= item_form.label :empresa, "Empresa", class: "block text-gray-300" %>
          <%= item_form.collection_select :principal_id, Principal.all, :id, :name, { prompt: 'Selecciona una empresa' }, { class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm", data: { controller: 'slim', principal_select_target: "principal", action: "change->principal-select#updateItems" } } %>
        </div>
        <div class="mt-3">
          <label for="inspection_item_attributes_identificador" class="block text-gray-300">Identificador</label>
          <input list="identificador-options" type="text" name="inspection[item_attributes][identificador]" id="inspection_item_attributes_identificador" value="<%= @item.identificador if @item.present? %>" class="block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
          <p id="floating_helper_text" class="mt-2 text-xs text-white-500 dark:text-gray-400">Dejar en blanco si no se conoce</p>
          <datalist id="identificador-options" data-principal-select-target="identificadorList">
          </datalist>
        </div>
      </div>
    <% end %>

    <div data-controller="place-select" class="mt-3">
      <%= form.label :"Lugar de inspección", class: "block text-gray-300" %>
      <%= form.text_field :place, list: "place-options", id: "inspection_place", class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm", data: { place_select_target: "place" } %>
      <datalist id="place-options" data-place-select-target="placeList"></datalist>
    </div>

    <div class="mt-3">
      <%= form.label :"Fecha de inspección", class: "block text-gray-300" %>
      <%= form.date_field :ins_date, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>

    <div class="mt-3">
      <%= form.label :Periocidad, class: "block text-gray-300" %>
      <%= form.select :validation, options_for_select([['1 año', 1], ['2 años', 2]]), {}, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>

    <div class="mt-3">
      <%= form.label :"Inspector asignado", class: "block text-gray-300" %>
      <%= form.select :user_id, options_for_select(User.where(admin: false).map { |u| [u.real_name, u.id] }, @inspection.user_id), {include_blank: true}, {class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm", data: {controller: 'slim'}} %>
    </div>

    <div class="mt-6">
      <%= form.submit "#{inspection.new_record? ? 'Crear' : 'Actualizar'} Inspección", class: "w-full bg-blue-600 hover:bg-blue-700 text-gray-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
<% end %>
