<% if Current.user.admin? %>
  <%= form_with(model: inspection) do |form| %>
    <% if inspection.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(inspection.errors.count, "error") %> No se pudo guardar esta inspección:</h2>

        <ul>
          <% inspection.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.fields_for :item do |item_form| %>

      <div data-controller="form-element">
        <%= form.button "Validate", formaction: new_item_path, formmethod: :get, data: { form_element_target: "remoteBtn" } %>
        <div>
          <%= item_form.label :"Clasificación del ascensor" %>
          <%= item_form.select :group_id, options_for_select(Group.all.map { |g| [g.number, g.id] }) if Current.user&.admin %>
        </div>

        <div>
          <%= item_form.label :"Empresa mandante" %>
          <%= item_form.collection_select :principal_id, Principal.all, :id, :name, prompt: 'Selecciona una mandante' %>
        </div>

        <div>
          <%= item_form.label :"Empresa a la que pertenece el activo" %>
          <%= item_form.collection_select :minor_id, [], :id, :name, prompt: 'Selecciona una empresa' %>
        </div>

        <div>
          <%= item_form.label :Identificador %>
          <%= item_form.text_field :identificador %>
        </div>
      </div>

    <% end %>

    <div>
      <%= form.label :"Lugar de inspección", style: "display: block" %>
      <%= form.text_field :place %>
    </div>

    <div>
      <%= form.label :"Fecha de inspección", style: "display: block" %>
      <%= form.date_field :ins_date %>
    </div>

    <div>
      <%= form.label :Periocidad, style: "display: block" %>
      <%= form.select :validation, options_for_select([['1 año', 1], ['2 años', 2]]) %>
    </div>

    <div>
      <%= form.label :"Inspector asignado", style: "display: block" if Current.user.admin %>
      <%= form.select :user_id, options_for_select(User.where(admin: false).map { |u| [u.real_name, u.id] }, @inspection.user_id), {include_blank: true}, {data: {controller: 'slim'}} if Current.user.admin %>
    </div>

    <br>

    <div>
      <%= form.submit "#{inspection.new_record? ? 'Crear' : 'Actualizar'} Inspección" %>
    </div>
  <% end %>
<% end %>