<div id="<%= dom_id inspection %>">
  <p>
    <strong>Número de inspección:</strong>
    <%= inspection.number %>
  </p>

  <p>
    <strong>Identificador:</strong>
    <%= inspection.item&.identificador %>
  </p>

  <p>
  <strong>Mandante:</strong>
  <%= inspection.item&.principal&.name %>
  </p>

  <p>
    <strong>Fecha de la inspección:</strong>
    <%= inspection.ins_date %>
  </p>



  <p>
    <strong>Periodicidad:</strong>
    <%= display_periodicity(inspection.validation) %>
  </p>



  <p>
    <strong>Resultado de la inspección:</strong>
    <%= inspection.result %>
  </p>

  <div>
    <% if controller_name == 'inspections' && action_name == 'index' %>
  <%= link_to 'Ver inspección', inspection_path(inspection), 'data-turbo-frame':"_top" %>
      <% end %>
  </div>

</div>
