<div id="<%= dom_id inspection %>" class="max-w-md mx-auto bg-gray-900 rounded-xl shadow-lg overflow-hidden md:max-w-2xl">
  <div class="p-8">
    <p class="text-gray-400">
      <strong class="text-gray-200">Número de inspección:</strong>
      <%= inspection.number %>
    </p>

    <p class="text-gray-400">
      <strong class="text-gray-200">Identificador:</strong>
      <%= inspection.item&.identificador %>
    </p>

    <p class="text-gray-400">
      <strong class="text-gray-200">Empresa:</strong>
      <%= inspection.item&.principal&.name %>
    </p>

    <p class="text-gray-400">
      <strong class="text-gray-200">Fecha de la inspección:</strong>
      <%= format_date(inspection.ins_date) %>
    </p>

    <p class="text-gray-400">
      <strong class="text-gray-200">Periodicidad:</strong>
      <%= display_periodicity(inspection.validation) %>
    </p>

    <p class="text-gray-400">
      <strong class="text-gray-200">Clasificación:</strong>
      <%= inspection.item&.group&.name %>
    </p>

    <p class="text-gray-400">
      <strong class="text-gray-200">Resultado de la inspección:</strong>
      <%= inspection.result %>
    </p>

    <div class="mt-4">
      <% if (controller_name == 'inspections' && action_name == 'index') || (controller_name == 'users' && action_name == 'show') || (controller_name == 'static_pages') %>
        <%= link_to 'Ver inspección', inspection_path(inspection), class: "inline-block px-6 py-2 border border-blue-800 text-blue-400 font-medium text-xs leading-tight uppercase rounded hover:bg-blue-800 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out", 'data-turbo-frame': "_top" %>
      <% end %>
    </div>
  </div>
</div>
