<% if Current.user.admin? %>
  <%= form_with(model: @inspection, url: update_identificador_inspection_path(@inspection), method: :patch, local: true, builder: CustomFormBuilder, class: "space-y-4 max-w-md mx-auto bg-gray-900 text-white p-6 rounded-lg shadow-md") do |form| %>
    <% if @inspection.errors.any? %>
      <div class="text-red-400 bg-red-800 p-2 rounded">
        <h2><%= pluralize(@inspection.errors.count, "error") %> No se pudo guardar esta inspección:</h2>
        <ul>
          <% @inspection.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.fields_for :item, @inspection.item || @inspection.build_item do |item_form| %>



        <div class="mt-3">
          <label for="inspection_item_attributes_identificador" class="block text-gray-300">Identificador</label>
          <input type="text" name="inspection[item_attributes][identificador]" id="inspection_item_attributes_identificador" value="<%= @item.identificador if @item.present? %>" class="block w-full px-3 py-2 bg-gray-700 text-white border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">

        </div>

      <div class="mt-6">
        <%= item_form.submit "cambiar identificador", class: "w-full bg-blue-600 hover:bg-blue-700 text-gray-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>

  <% end %>

<% end %>
