<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-8">
  <h1 class="text-4xl font-bold text-gray-800 mb-6">Inspecciones</h1>

  <div class="mb-6">
    <%= link_to "Nueva inspección", new_inspection_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-blue-600 bg-gray-800 hover:bg-blue-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-150 ease-in-out" if Current.user.admin %>
  </div>

  <div class="bg-gray-800 shadow overflow-hidden sm:rounded-md">
    <%= render 'shared/back_home' %>

    <%= turbo_frame_tag 'inspections' do %>
      <div class="p-6">
        <%= render 'shared/search_form', form_url: inspections_path, search_keys: 'number_eq', frame_id: 'inspections', placeholder_text: 'número de inspección' %>
      </div>
      <% if Current.user.tabla %>

          <table id="default-table" data-controller="datatable" data-datatable-target="table" data-datatable-rows-per-page="10" class="min-w-full bg-white">
            <thead>
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Número</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Identificador</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Resultado</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <% @inspections.each do |inspection| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%= inspection.number %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= format_date(inspection.ins_date) %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= inspection.item&.identificador %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= inspection.result %></td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= link_to 'Ver inspección', inspection_path(inspection), class: "text-blue-600 hover:text-blue-900", data: { turbo_frame: "_top" } %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>




      <% else %>


        <%= turbo_frame_tag "inspections-#{@pagy.page}", class: 'inspections' do %>
          <ul class="divide-y divide-gray-700">
            <% @inspections.each_with_index do |inspection, index| %>
              <li class="<%= 'bg-gray-700' if index.even? %> p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-150 ease-in-out">
                <%= render 'inspection', inspection: inspection %>
              </li>
            <% end %>
          </ul>
          <% if @pagy.next %>
            <%= turbo_frame_tag "inspections-#{@pagy.next}", class: 'inspections', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy %>
          <% end %>
        <% end %>



      <% end %>

    <% end %>

  </div>
</div>
