
  <h1>Inspecciones</h1>

<div>
<%= link_to "Nueva inspección", new_inspection_path if Current.user.admin %>
</div>

  <%= render 'shared/back_home' %>

<br>

  <%= turbo_frame_tag 'inspections' do %>

    <%= render 'shared/search_form', form_url: inspections_path %>

<%= turbo_frame_tag "inspections-#{@pagy.page}", class: 'inspections' do %>
  <%= render partial: 'inspection', collection: @inspections %>
    <%= turbo_frame_tag "inspections-#{@pagy.next}", class: 'inspections', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next.present? %>
  <% end %>
<% end %>

