<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-8">
  <h1 class="text-4xl font-bold text-gray-800 mb-6">Inspecciones</h1>

  <div class="mb-6">
    <%= link_to "Nueva inspección", new_inspection_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-blue-700 bg-gray-800 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-150 ease-in-out" if Current.user.admin %>
  </div>

  <div class="bg-gray-800 shadow overflow-hidden sm:rounded-md">
    <%= render 'shared/back_home' %>

    <%= turbo_frame_tag 'inspections' do %>
      <div class="p-6">
        <%= form_with url: inspections_path, method: :get, local: true, data: { controller: "search-inspection", search_inspection_target: "form", turbo_frame: 'inspections' } do |form| %>
          <div>
            <%= form.label :number, "Exact Number" %>
            <%= form.number_field :number, placeholder: 'Search by exact number', data: { action: "change->search-inspection#submitForm", search_inspection_target: "numberField" }, value: params[:number] %>
          </div>

          <div>
            <%= form.label :query, "Associated Attributes" %>
            <%= form.search_field :q, placeholder: 'Search', data: { action: "change->search-inspection#submitForm input->search-inspection#toggleClearButton", search_inspection_target: "searchField" }, value: params[:q].is_a?(Hash) ? params.dig(:q, 'number_or_item_identificador_or_principal_rut_or_principal_name_or_principal_business_name_cont') : '' %>
          </div>

          <%= form.button 'Search', type: 'submit' %>

          <div data-search-inspection-target="clearButton" style="display: none;">
            <%= link_to 'Clear', inspections_path, method: :get, class: 'btn btn-default', data: { action: "click->search-inspection#resetSearch" } %>
          </div>
        <% end %>

        <%= turbo_frame_tag "inspections-#{@pagy.page}", class: 'inspections' do %>
          <ul class="divide-y divide-gray-700">
            <% @inspections.each_with_index do |inspection, index| %>
              <li class="<%= 'bg-gray-700' if index.even? %> p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-150 ease-in-out">
                <%= render 'inspection', inspection: inspection %>
              </li>
            <% end %>
          </ul>
          <% if @pagy.next %>
            <%= turbo_frame_tag "inspections-#{@pagy.next}", class: 'inspections', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
