
<%= render @inspection %>

<p>
  <strong>Lugar de la inspección:</strong>
  <%= @inspection.place %>
</p>
<p>
  <strong>Fecha de emisión del informe:</strong>
  <%= format_date(@inspection.inf_date) %>
</p>
<p>
  <strong>Inspector asignado:</strong>
  <%= @inspection.user.real_name if @inspection.user %>
</p>

<div>
  <%= link_to 'Realizar inspección', edit_detail_path(@detail) if @inspection.owner? %>
</div>

<div>
  <%=   link_to 'Ver fallas encontradas', revision_path(inspection_id: @inspection) if (@inspection.state=="Cerrado" and Current.user.admin?) or @inspection.owner?%>
</div>

<div>
  <%= link_to 'Generar informe', download_document_inspection_path(@inspection), class: 'btn btn-primary' if @inspection.state=="Cerrado" %>
</div>




<div>
  <%= link_to "Modificar inspección", edit_inspection_path(@inspection) if @inspection.owner? %>
  <br>
  <%= link_to "Ver todas las inspecciones", inspections_path %>
  <br>
  <%= link_to 'Eliminar inspección', inspection_path(@inspection), data:
    {turbo_method: :delete,
     turbo_confirm: 'Estás seguro?'} if @inspection.owner? %>
</div>
