<p style="color: green"><%= notice %></p>

<%= render @inspection %>

<p>
  <strong>Lugar de la inspección:</strong>
  <%= @inspection.place %>
</p>
<p>
  <strong>Fecha de emisión del informe:</strong>
  <%= @inspection.inf_date %>
</p>
<p>
  <strong>Inspector asignado:</strong>
  <%= @inspection.user.real_name if @inspection.user %>
</p>

<div>
  <%= link_to 'Realizar inspección', edit_revision_path(inspection_id: @inspection.id) %>
</div>




<div>
  <%= link_to "Modificar inspección", edit_inspection_path(@inspection) if @inspection.owner? %>
  <br>
  <%= link_to "Ver todas las inspecciones", inspections_path %>
  <br>
  <%= link_to 'Eliminar inspección', inspection_path(@inspection), data:
    {turbo_method: :delete,
     turbo_confirm: 'Estás seguro?'} if @inspection.owner? %>
</div>
