<%= form_with(model: @revision_base, builder: CustomFormBuilder, url: {action: "update", inspection_id: @inspection.id, section: params[:section]}, local: true, multipart: true, html: { autocomplete: "off", data: { controller: "form-submit" } }) do |form| %>

  <div style="position: sticky; top: 0; z-index: 10; background-color: white; padding: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" class="flex justify-center">
    <%= button_tag 'Guardar cambios',
                   type: 'button',
                   class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded',
                   data: { action: 'form-submit#submitAndRedirect', url: request.fullpath } %>
  </div>

  <% if @revision_base.errors.any? %>
    <% error_messages = @revision_base.errors.full_messages.map { |msg| "<li>#{j msg}</li>" }.join %>
    <%= javascript_tag do %>
      Swal.fire({
      icon: 'error',
      title: 'Error: No se pudo guardar la revisión',
      html: '<ul style="text-align: left;">' + '<%= raw error_messages %>' + '</ul>',
      confirmButtonText: 'Entendido'
      })
    <% end %>
  <% end %>




  <div data-controller="dropdown section-submit" class="px-8">

    <div class="flex justify-center w-full my-4">

      <% current_section = "#{@color.section}- #{@nombres[@numbers.index(@color.section)]}" %>
      <%= button_tag type: 'button',
                     class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded whitespace-normal break-words overflow-hidden max-w-[50%] w-full",
                     data: { action: "dropdown#toggle" } do %>
        <%= "Sección actual: #{current_section}" %>
      <% end %>
    </div>
    <div data-dropdown-target="menu" class="grid gap-4 hidden">

        <% @numbers.each_with_index do |number, index| %>
        <div class="flex justify-center">
            <% color_for_number = @colors.find { |c| c.section == number } %>
            <% is_current_color = @color.section == number %>
          <%= button_tag type: 'button',
                         class: "section-button #{'bg-white' if is_current_color} #{'bg-green-600 text-white' if color_for_number&.color && !is_current_color} #{'bg-gray-500' if !color_for_number&.color && !is_current_color} w-full py-2 rounded",
                         data: { action: "section-submit#submitAndNavigate",
                                 section_submit_target: "button",
                                 url: edit_ladder_revision_path(id: @revision_base, inspection_id: @inspection.id, section: number) },
                         disabled: is_current_color do %>

        <%= number %>-<%= @nombres[index] %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>




  <br>
  <br>



  <div class="flex justify-center my-4 items-center" data-controller="file-upload image-resize show-comment-on-upload">
    <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center cursor-pointer">
      <label for="imagen_general" class="flex items-center cursor-pointer">
        <svg class="h-8 w-8 text-white mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
          <circle cx="12" cy="13" r="4" />
        </svg>
        Imagen general
      </label>
      <%= file_field_tag "imagen_general",
                         id: "imagen_general",
                         class: "hidden",
                         data: {
                           file_upload_target: "file",
                           image_resize_target: "file",
                           show_comment_on_upload_target: "file",
                           action: "file-upload#fileChanged change->file-upload#fileChanged change->image-resize#resizeImage change->show-comment-on-upload#fileChanged"
                         },
                         accept: "image/*" %>
    </div>
    <span data-file-upload-target="filename" class="text-gray-500 ml-4">No hay archivo seleccionado</span>
  </div>
  <div id="imagen_general_comment_container" class="hidden flex justify-center">
    <%= text_area_tag 'imagen_general_comment', "#{@nombres[@color.section].sub(/^\.\s*/, '')}",
                      rows: 6,
                      cols: 25,
                      maxlength: 1000,
                      placeholder: 'Ingrese un comentario',
                      class: "shadow appearance-none border rounded  py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    %>
  </div>



  <div data-controller="na-toggle">
    <div class="flex justify-start items-center ml-4 my-4">
      <input type="checkbox" id="toggle-all-na" class="cursor-pointer w-6 h-6 text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600" data-action="change->na-toggle#confirmToggleAll">
      <label for="toggle-all-na" class="ml-2 text-lg text-gray-700">Sección no aplica al activo</label>
    </div>

  <div class="px-4 mt-4">
    <div class="table-responsive">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">


      <table class="w-full text-sm text-left rtl:text-righttext-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
        <tr>
            <th class="px-6 py-3">N/A</th>
          <% if @black_inspection %>
            <th class="px-6 py-3">falla anterior</th>
          <% end %>
          <th class="px-6 py-3">No</th>
          <th class="px-6 py-3">Descripción</th>
          <th class="px-2 py-3 flex-shrink-1 min-w-[10px]">Prioridad</th>
          <th class="px-6 py-3">No cumple</th>
          <th class="px-6 py-3">Nivel defecto</th>
          <th class="px-4 py-3">Imagen</th>
          <th class="px-6 py-3">Comentario</th>
        </tr>
        </thead>
        <tbody>
        <% @rules.each_with_index do |rule, index| %>


          <tr class="border-b bg-gray-800 border-gray-700" data-controller="rules-form">

            <td>
              <div class="flex justify-center items-center">

                <% is_checked_null = @revision_nulls.any? { |rn| rn.point == "#{rule.code}_#{rule.point}" } %>
                <%= check_box_tag "ladder_revision[null_condition][]", "#{rule.code}_#{rule.point}", is_checked_null, id: "null_condition_#{index}",class: "cursor-pointer w-4 h-4 text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600",
                                  data: { action: "change->rules-form#toggleNullCondition", rules_form_target: "nullCondition", 'na-toggle-target': 'naCheckbox' } %>
                <%= label_tag "null_condition_#{index}", "" %>
              </div>
            </td>

            <% if current_section.to_s=='0' %>
            <%= hidden_field_tag '' %>
            <% end %>


            <% if @black_inspection %>
              <td data-controller="past-submit">
                <div class="flex justify-center items-center">

                <% is_black_checked = @black_revision.codes.include?(rule.code) && @black_revision.points.include?(rule.point) %>

                <%= check_box_tag "past_revision[fail][]", "1", is_black_checked, id: "past_fail_#{index}", class: "w-4 h-4 text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600 cursor-pointer", data: { action: "change->past-submit#toggleSubmit", past_submit_target: "checkbox" } %>
                <%= hidden_field_tag "past_revision[codes][]", rule.code, data: { past_submit_target: "code" } %>
                <%= hidden_field_tag "past_revision[points][]", rule.point, data: { past_submit_target: "point" } %>
                <%= hidden_field_tag "past_revision[levels][]", "L", data: { past_submit_target: "level" } %>
                </div>
              </td>
            <% end %>



            <td class="px-6 py-4 font-medium text-white break-words whitespace-normal max-w-[50%]">

              <%= rule.number %>
              <%= hidden_field_tag "ladder_revision[number][]", rule.number, data: { rules_form_target: "number" } %>

            </td>




            <td class="px-6 py-4 font-medium text-white break-words whitespace-normal max-w-[50%]">

              <%= label_tag "", revision_label_text(rule, @last_revision) %>
            </td>

            <td class="px-2 py-4 flex-shrink-1 min-w-[10px] justify-center items-center text-white">
              <%= rule.priority %>
              <%= hidden_field_tag "ladder_revision[priority][]", rule.priority, data: { rules_form_target: "priority" } %>

            </td>

            <td class="px-6 py-4">
              <div class="flex justify-center items-center">

                <% is_checked = @revision.codes.include?(rule.code) && @revision.points.include?(rule.point) %>
                <%= check_box_tag "ladder_revision[fail][]", "1", is_checked, id: "fail_#{index}", data: { action: "change->rules-form#toggle", rules_form_target: "fail" }, class: "cursor-pointer w-4 h-4 text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600" %>
              </div>
            </td>

            <%= hidden_field_tag "ladder_revision[codes][]", rule.code, data: { rules_form_target: "code" } %>
            <%= hidden_field_tag "ladder_revision[points][]", rule.point, data: { rules_form_target: "point" } %>


            <td class="px-6 py-4 text-white justify-center items-center">

              <% if @last_revision.present? && @last_revision.points.include?(rule.point) && @last_revision.id != @revision%>
                <%= label_tag "level_#{index}", "Grave (inspección anterior)"%>
                <%= hidden_field_tag "ladder_revision[levels][]", "G", data: { rules_form_target: "level" } %>

              <% else %>

                <% if rule.level.include?('G') && rule.level.include?('L') %>
                  <div data-controller="level" class="inline-element" data-action="click->level#toggleValue">
                    <% level_value = @revision.points.include?(rule.point) ? @revision.levels[@revision.points.index(rule.point)] : "G" %>
                    <%= button_tag type: 'button', class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' do %>
                      <span data-level-target="label"><%= level_value %></span>
                    <% end %>
                    <%= hidden_field_tag "ladder_revision[levels][]", level_value, data: { level_target: "field", rules_form_target: "level" } %>
                  </div>
                <% else %>
                  <%= label_tag "level_#{index}", display_rule_level_short(rule)%>
                  <%= hidden_field_tag "ladder_revision[levels][]", revision_level_or_g(rule, @last_revision, @revision.id), data: { rules_form_target: "level" } %>
                <% end %>
              <% end %>

            </td>

            <td class="px-4 py-4 justify-center items-center overflow-hidden">
              <div data-controller="file-upload">

                <%= file_field_tag "revision_photos[photo][]",
                                   name: "revision_photos[photo][]",
                                   class: "w-full",
                                   id: "photo_#{index}",
                                   style: "border: 2px solid #24ACBD; border-radius: 4px; padding: 5px;",
                                   disabled: !is_checked,
                                   data: {
                                     rules_form_target: "photo",
                                     file_upload_target: "file",
                                     action: "file-upload#fileChanged change->file-upload#fileChanged "},
                                   accept: "image/*" %>
                <label for="photo_#{index}" class="cursor-pointer">
                  <span data-file-upload-target="filename" class="text-gray-500">No hay archivo seleccionado</span>
                </label>
              </div>
            </td>

            <% comment_index = if @revision_map[rule.code] && @revision_map[rule.code][rule.point]
                                 @revision_map[rule.code][rule.point]
                               else
                                 nil
                               end %>


            <td class="px-6 py-4">

              <% if @section != "0" %>
                <%= text_area_tag "ladder_revision[comment][]", comment_index.nil? ? nil : @revision.comment[comment_index], rows: 6, cols: 30, data: { rules_form_target: "comment" }, maxlength: 1000, class: "shadow appearance-none border rounded  py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>


              <% else %>
                <% if is_checked_null %>

                  <% revision_null = @revision_nulls.find { |rn| rn.point == "#{rule.code}_#{rule.point}" } %>
                  <%= text_area_tag "ladder_revision[comment][]", comment_index.nil? ? nil : revision_null.comment, rows: 6, cols: 30, maxlength: 1000, class: "shadow appearance-none border rounded  py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>

                <% else %>
                  <%= text_area_tag "ladder_revision[comment][]", comment_index.nil? ? nil : @revision.comment[comment_index], rows: 6, cols: 30, maxlength: 1000, class: "shadow appearance-none border rounded  py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                <% end %>
                <%= hidden_field_tag "ladder_revision[garbage][]", "", data: { rules_form_target: "comment" } %>

              <% end %>

            </td>
            <%= hidden_field_tag "revision_photos[code][]", "#{rule.code} #{rule.point}", data: { rules_form_target: "photoCode" } %>
          </tr>

        <% end %>
        </tbody>
      </table>
    </div>
    </div>


    <div data-controller="dropdown section-submit" class="px-8 my-6">
      <% current_section_number = @color.section %>
      <% total_sections = @numbers.length %>

      <!-- Flex para asegurar la alineación de los botones con un espacio constante -->
      <div class="flex items-center justify-between w-full my-8">
        <div class="w-1/5 flex justify-start">
        </div>

        <!-- Botón central con ajuste para crecer en altura si es necesario -->
        <div class="flex justify-center w-3/5">
          <% current_section = "#{@color.section}- #{@nombres[@numbers.index(@color.section)]}" %>
          <%= button_tag type: 'button',
                         class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded whitespace-normal break-words max-w-full",
                         data: { action: "dropdown#toggle" } do %>
            <%= "Sección actual: #{current_section}" %>
          <% end %>
        </div>

        <div class="w-1/5 flex justify-end">
        </div>
      </div>

      <!-- Segunda fila de botones -->
      <div class="flex items-center justify-between w-full mt-12 mb-4"> <!-- Aumento de margen entre filas -->
        <% previous_section = current_section_number > 0 ? @numbers[current_section_number - 1] : nil %>
        <% next_section = current_section_number < total_sections - 1 ? @numbers[current_section_number + 1] : nil %>

        <!-- Botón para ir a la sección anterior (solo número y flecha) -->
        <div class="w-1/5 flex justify-start">
          <div class="mx-4">
            <% if previous_section %>
              <%= button_tag type: 'button',
                             class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded max-w-full truncate flex items-center",
                             data: { action: "section-submit#submitAndNavigate",
                                     section_submit_target: "button",
                                     url: edit_ladder_revision_path(id: @revision_base, inspection_id: @inspection.id, section: previous_section) } do %>
                <svg class="h-6 w-6 sm:h-8 sm:w-8 text-teal-500 mr-2 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"/>
                </svg>
                <%= previous_section %>
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- Botón para ir a la siguiente sección (solo número y flecha) -->
        <div class="w-1/5 flex justify-end">
          <div class="mx-4">
            <% if next_section %>
              <%= button_tag type: 'button',
                             class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded max-w-full truncate flex items-center",
                             data: { action: "section-submit#submitAndNavigate",
                                     section_submit_target: "button",
                                     url: edit_ladder_revision_path(id: @revision_base, inspection_id: @inspection.id, section: next_section) } do %>
                <%= next_section %>
                <svg class="h-6 w-6 sm:h-8 sm:w-8 text-teal-500 ml-2 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
                </svg>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Dropdown oculto para las secciones -->
      <div data-dropdown-target="menu" class="grid gap-4 hidden">
        <% @numbers.each_with_index do |number, index| %>
          <div class="flex justify-center">
            <% color_for_number = @colors.find { |c| c.section == number } %>
            <% is_current_color = @color.section == number %>
            <%= button_tag type: 'button',
                           class: "section-button #{'bg-white' if is_current_color} #{'bg-green-600 text-white' if color_for_number&.color && !is_current_color} #{'bg-gray-500' if !color_for_number&.color && !is_current_color} w-full py-2 rounded",
                           data: { action: "section-submit#submitAndNavigate",
                                   section_submit_target: "button",
                                   url: edit_ladder_revision_path(id: @revision_base, inspection_id: @inspection.id, section: number) },
                           disabled: is_current_color do %>
              <%= number %>-<%= @nombres[index] %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


  </div>


  </div>



  <div class="py-2 px-4">

    <div class="mt-4 inline-block border-2 border-gray-300 rounded-lg p-2 bg-white">
      <%= check_box_tag :color, "1", @color.color,
                        id: "color_checkbox",
                        class: "form-checkbox h-5 w-5 text-green-500 cursor-pointer" %>
      <%= label_tag :color_checkbox, 'Marcar como revisado', class: "ml-2 text-sm text-gray-700 cursor-pointer" %>
    </div>
  </div>

  <div class="px-4 mt-4 py-4">
    <%= form.submit "Ver fallas registradas", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
  </div>
<% end %>

