<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-8 bg-gray-900 p-6 rounded-lg shadow-md">
  <%= form_with(model: report, builder: CustomFormBuilder, local: true, class: "space-y-4") do |form| %>
    <% if report.errors.any? %>
      <% error_messages = report.errors.full_messages.map { |msg| "<li>#{j msg}</li>" }.join %>
      <%= javascript_tag do %>
        Swal.fire({
        icon: 'error',
        title: 'Error: Información del informe no pudo ser guardada',
        html: '<ul style="text-align: left;">' + '<%= raw error_messages %>' + '</ul>',
        confirmButtonText: 'Entendido'
        })
      <% end %>
    <% end %>


    <div>
      <%= form.label :certificado_minvu, "Certificado MINVU", class: "block text-gray-300" %>
      <%= form.text_field :certificado_minvu, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div data-controller="certificacion-anterior tarjeta">
      <%= form.label :cert_ant, "Certificación anterior", class: "block text-gray-300" %>
      <div class="flex flex-col items-start space-y-4">
        <div class="flex items-center ps-4 border rounded border-gray-700 space-x-2">
          <%= form.radio_button :cert_ant, 'Si', checked: (@report.cert_ant == 'Si' || (@report.cert_ant.nil? && !@show_third_radio_button)), data: { action: "certificacion-anterior#toggleFields tarjeta#toggleCard" }, class: "w-4 h-4 text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600" %>
          <%= form.label :cert_ant, 'Si', value: 'Si', class: "w-full py-4 ms-2 text-sm font-medium text-gray-300" %>
          <p id="helper-radio-text1" class="text-xs font-normal text-gray-300">Ingresar inspección pasada de forma manual</p>
        </div>

        <div class="flex items-center ps-4 border rounded border-gray-700 space-x-2">
          <%= form.radio_button :cert_ant, 'No', checked: @report.cert_ant == 'No', data: { action: "certificacion-anterior#toggleFields tarjeta#toggleCard" }, class: "w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600" %>
          <%= form.label :cert_ant, 'No', value: 'No', class: "w-full py-4 ms-2 text-sm font-medium text-gray-300" %>
        </div>

        <% if @show_third_radio_button %>
          <div class="flex items-center ps-4 border rounded border-gray-700 space-x-2">
            <%= form.radio_button :cert_ant, 'sistema', checked: (@report.cert_ant.nil? || @report.cert_ant == 'sistema'), data: { action: "certificacion-anterior#toggleFields tarjeta#toggleCard" }, class: "w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600" %>
            <%= form.label :cert_ant, 'Última certificación en sistema', value: 'sistema', class: "w-full py-4 ms-2 text-sm font-medium text-gray-300" %>
            <p id="helper-radio-text2" class="text-xs font-normal text-gray-300">Utilizar última inspección registrada</p>
          </div>
        <% end %>
      </div>



      <% if @show_third_radio_button %>
        <div data-tarjeta-target="inspectionNumber" class="hidden mt-4 ">
          <div  class="max-w-md mx-auto bg-gray-700 rounded-xl shadow-lg overflow-hidden md:max-w-2xl">
            <div class="p-8">
              <p class="text-gray-400">
                <strong class="text-gray-200">Número de inspección:</strong>
                <%= @previous_inspection.number %>
              </p>
              <p class="text-gray-400">
                <strong class="text-gray-200">Fecha de Inspección:</strong>
                <%= @previous_inspection.ins_date&.strftime("%d/%m/%Y") %>
              </p>
              <p class="text-gray-400">
                <strong class="text-gray-200">Resultado:</strong>
                <%= @previous_inspection.result %>
              </p>



            </div>
            </div>
          <div  class="space-y-4 mt-4">
            <div>
              <%= form.label :fecha_sistema, "Fecha certificación anterior", class: "block text-gray-300" %>
              <%= form.date_field :fecha_sistema, value: @previous_inspection.ins_date, readonly: true, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
            </div>

            <div>
              <%= form.label :empresa_anterior_sistema, "Empresa certificadora anterior", class: "block text-gray-300" %>
              <%= form.text_field :empresa_anterior_sistema, value: "empresa fija", readonly: true, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
            </div>

            <div>
              <%= form.label :ea_rol_sistema, "Rol", class: "block text-gray-300" %>
              <%= form.text_field :ea_rol_sistema, value: "Rol Fijo", readonly: true, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
            </div>

            <div>
              <%= form.label :ea_rut_sistema, "Rut", class: "block text-gray-300" %>
              <%= form.text_field :ea_rut_sistema, value: "20.848.288-2", readonly: true, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
            </div>
          </div>

        </div>
      <% end %>


      <div data-certificacion-anterior-target="toggleable" class="space-y-4 mt-4">
        <div>
          <%= form.label :fecha, "Fecha certificación anterior", class: "block text-gray-300" %>
          <%= form.date_field :fecha, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
        </div>

        <div>
          <%= form.label :empresa_anterior, "Empresa certificadora anterior", class: "block text-gray-300" %>
          <%= form.text_field :empresa_anterior, data: { controller: "titleize", action: "input->titleize#updateInput", titleize_target: "input" }, maxlength: 100, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
        </div>

        <div>
          <%= form.label :ea_rol, "Rol", class: "block text-gray-300" %>
          <%= form.text_field :ea_rol, maxlength: 100, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
        </div>

        <div>
          <%= form.label :ea_rut, "Rut", class: "block text-gray-300" %>
          <%= form.text_field :ea_rut, data: { controller: "rut", rut_target: "rut" }, maxlength: 100, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
        </div>
      </div>
    </div>

    <hr class="my-4 border-gray-500">


    <p class="text-gray-300 font-bold">Empresa Mantenedora</p>


    <div>
      <%= form.label :empresa_mantenedora, "Empresa mantenedora", class: "block text-gray-300" %>
      <%= form.text_field :empresa_mantenedora, data: { controller: "titleize", action: "input->titleize#updateInput", titleize_target: "input" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div>
      <%= form.label :em_rol, "Rol", class: "block text-gray-300" %>
      <%= form.text_field :em_rol, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div>
      <%= form.label :em_rut, "Rut", class: "block text-gray-300" %>
      <%= form.text_field :em_rut, data: { controller: "rut", rut_target: "rut" }, maxlength: 100, class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <hr class="my-4 border-gray-500">


    <div>
      <p class="text-gray-300 font-bold">Vigencia contrato de mantención</p>
      <%= form.label :vi_co_man_ini, "Fecha inicio", class: "block text-gray-300" %>
      <%= form.date_field :vi_co_man_ini, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div>
      <%= form.label :vi_co_man_ter, "Fecha termino", class: "block text-gray-300" %>
      <%= form.date_field :vi_co_man_ter, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div>
      <%= form.label :nom_tec_man, "Nombre técnico mantenedor", class: "block text-gray-300" %>
      <%= form.text_field :nom_tec_man, data: { controller: "titleize", action: "input->titleize#updateInput", titleize_target: "input" }, maxlength: 100, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div>
      <%= form.label :tm_rut, "Rut", class: "block text-gray-300" %>
      <%= form.text_field :tm_rut, data: { controller: "rut", rut_target: "rut" }, maxlength: 100, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div>
      <%= form.label :ul_reg_man, "Último registro de mantención N°", class: "block text-gray-300" %>
      <%= form.number_field :ul_reg_man, max: 1000000000000000000, min:0, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div>
      <%= form.label :urm_fecha, "Fecha Último registro de mantención", class: "block text-gray-300" %>
      <%= form.date_field :urm_fecha, class: "block w-full px-3 py-2 bg-gray-700 text-white rounded-md" %>
    </div>

    <div>
      <%= form.submit "Guardar información", class: "w-full bg-blue-600 hover:bg-blue-700 text-gray-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>

<br>
<br>
<br>
<br>
