<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> Información del informe no pudo ser guardada:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :"N° de instalación", style: "display: block" %>
    <%= form.text_field :instalation_number %>
  </div>


  <div>
    <%= form.label :"Certificado MINVU", style: "display: block" %>
    <%= form.text_field :certificado_minvu %>
  </div>

  <div>
    <%= form.label :Fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>

  <div>
    <%= form.label :"Empresa certificadora anterior", style: "display: block" %>
    <%= form.text_field :empresa_anterior %>
  </div>

  <div>
    <%= form.label :"Rol", style: "display: block" %>
    <%= form.text_field :ea_rol %>
  </div>

  <div>
    <%= form.label :"Rut", style: "display: block" %>
    <%= form.text_field :ea_rut %>
  </div>

  <div>
    <%= form.label :"Empresa mantenedora", style: "display: block" %>
    <%= form.text_field :empresa_mantenedora %>
  </div>

  <div>
    <%= form.label :"Rol", style: "display: block" %>
    <%= form.text_field :em_rol %>
  </div>

  <div>
    <%= form.label :"Rut", style: "display: block" %>
    <%= form.text_field :em_rut %>
  </div>

  <div>
    <p>Vigencia contrato de mantención</p>
    <%= form.label :"Fecha inicio", style: "display: block" %>
    <%= form.date_field :vi_co_man_ini %>
  </div>

  <div>
    <%= form.label :"Fecha termino", style: "display: block" %>
    <%= form.date_field :vi_co_man_ter %>
  </div>

  <div>
    <%= form.label :"Nombre técnico mantenedor", style: "display: block" %>
    <%= form.text_field :nom_tec_man %>
  </div>

  <div>
    <%= form.label :"Rut", style: "display: block" %>
    <%= form.text_field :tm_rut %>
  </div>

  <div>
    <%= form.label :"Último registro de mantención N°", style: "display: block" %>
    <%= form.number_field :ul_reg_man %>
  </div>

  <div>
    <%= form.label :Fecha, style: "display: block" %>
    <%= form.date_field :urm_fecha %>
  </div>


  <div>
    <%= form.submit "Guardar información" %>
  </div>
<% end %>
