<div id="<%= dom_id report %>">
  <p>
    <strong>Certificado minvu:</strong>
    <%= report.certificado_minvu %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= report.fecha %>
  </p>

  <p>
    <strong>Empresa anterior:</strong>
    <%= report.empresa_anterior %>
  </p>

  <p>
    <strong>Ea rol:</strong>
    <%= report.ea_rol %>
  </p>

  <p>
    <strong>Ea rut:</strong>
    <%= report.ea_rut %>
  </p>

  <p>
    <strong>Empresa mantenedora:</strong>
    <%= report.empresa_mantenedora %>
  </p>

  <p>
    <strong>Em rol:</strong>
    <%= report.em_rol %>
  </p>

  <p>
    <strong>Em rut:</strong>
    <%= report.em_rut %>
  </p>

  <p>
    <strong>Vi co man ini:</strong>
    <%= report.vi_co_man_ini %>
  </p>

  <p>
    <strong>Vi co man ter:</strong>
    <%= report.vi_co_man_ter %>
  </p>

  <p>
    <strong>Nom tec man:</strong>
    <%= report.nom_tec_man %>
  </p>

  <p>
    <strong>Tm rut:</strong>
    <%= report.tm_rut %>
  </p>

  <p>
    <strong>Ul reg man:</strong>
    <%= report.ul_reg_man %>
  </p>

  <p>
    <strong>Urm fecha:</strong>
    <%= report.urm_fecha %>
  </p>

  <p>
    <strong>Inspection:</strong>
    <%= report.inspection_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= report.item_id %>
  </p>

</div>
