<div id="<%= dom_id report %>">

  <p>
    <strong>N° de instalación:</strong>
    <%= report.instalation_number %>
  </p>



  <p>
    <strong>Certificación anterior:</strong>
     <%= report.cert_ant %>
  <p>
    <strong>Fecha:</strong>
    <%= format_date(report.fecha) %>
  </p>

  <p>
    <strong>Empresa certificadora anterior:</strong>
    <%= report.empresa_anterior %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= report.ea_rol %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= report.ea_rut %>
  </p>

  <p>
    <strong>Empresa mantenedora:</strong>
    <%= report.empresa_mantenedora %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= report.em_rol %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= report.em_rut %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= format_date(report.vi_co_man_ini) %>
  </p>

  <p>
    <strong>Fecha término:</strong>
    <%= format_date(report.vi_co_man_ter) %>
  </p>

  <p>
    <strong>Nombre técnico mantenedor:</strong>
    <%= report.nom_tec_man %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= report.tm_rut %>
  </p>

  <p>
    <strong>Ultimo registro de mantención N°:</strong>
    <%= report.ul_reg_man %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= format_date(report.urm_fecha) %>
  </p>

  <p>
    <strong>Inspection:</strong>
    <%= report.inspection.number %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= report.item.identificador %>
  </p>

</div>
